{% extends 'base.html' %}
{%load static%}
{%block titleName%}
Bize Ulasın --Mediozon
{%endblock%}

{% block maincontent%}
<div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Barbaros%2C%20Mor%20Sumbul%20Sokagi%20No%3A5%2C%2034746%20Ata%C5%9Fehir%2F%C4%B0stanbul+(Deluxia%20Palace)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">gps coordinates finder</a></iframe></div><br />
{%endblock%}