{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Cerrahi Hastalıklarında Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/cerrahi.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Cerrahi Hastalıklarında Ozon</h3><br>
        <p>
                Değişik cerrahi branşların her birinin kendi çalışma alanındaki hastalıklarda tedavi edilmesi mümkündür. Bu bölümde Genel Cerrahi Hastalıkları açıklanacktır.
                <ul>
                    <li>Ciltte oluşan abse, yara, yanık gibi sorunlar</li>
                    <li>Trofik ülserler</li>
                    <li>Makat bölgesi hastalıkları (anal fissür, fistül)</li>
                    <li>Cerrahi damar hastalıkları (Buerger)</li>
                    <li>Perionit</li>
                    <li>Pankreatit</li>
                    <li>Ameliyat yarasının iyileştirilmesi</li>
                    <li>Nedbe dokusunun tedavisi</li>
                </ul>
        </p>
        <p>
                Peritonitte hastalığın nedenine bağlı olarak lokal ve sistemik tedavi uygulanabilir. Bakteri, virüs ve mantarlara karşı ozonun hücre zarlarının fosfolipid ve lipoprotein oksidasyonuna, polipeptid ve protein zincirlerinin kırılması sonucu dezenfektan etki sağlanır. Diğer yandan hücresel düzeyde oksijenin artması ve hipoksinin giderilmesi, tokseminin ortadan kaldırılması, immun kompetan hücrelerin aktivasyonu ve organizmanın antioksidan savunma sisteminin uyarılması sağlanmış olmaktadır.
        </p>
        <p>
                Damar hastalıklarında özellikle bacaklardaki atar damarların kısmi tıkanıklarınında ozon başarılı olmaktadır. Tedavi dozunda ozon eritrositlerin esnekliğini ve dayanıklılığını arttırmaktadır. Bu da oksijenin kılcal damarlar aracılığı ile dokulara ulaşabilmesini sağlamaktadır. Diğer yandan hücre zarlarının yapısal ve fonksiyonel sorunlarının giderilmesi, oksidatif serbest radikallerin işlevleri ve endojen antioksidan sentezi artmaktadır. Ozonun çevresel damarların fonksiyonlarını optimize etmesiyle ince damarların işlevleri düzelirken yeni damar oluşumları da sağlanmaktadır. Bu sayede doku beslenmesi bozukluğu nedeniyle amputasyon denilen iyileşmeyen hasta uzuvların kesilmesi gerekliliği ortadan kalkabilmektedir.
        </p>
        <p>
                Enfekte yara ve yanıklar ozondan büyük yarar sağlamaktadır. Ozon doku hasarının temel mekanizmasına karşı kullanılır. Oksidatif strese uğrayan dokular antioksidan sistemlerin aktive edilmesi ile tedavide başarı sağlanmaktadır. Geniş yüzeye sahip yanıklarda ise sistemik ozon tedavisi uygulanmaktadır. Ozonun diğer organlara sağladığı yarar yanıkların başarılı şekilde tedavi edilmesine yol açmaktadır.

                
        </p>
           <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}