{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Dünyada Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/globe.jpeg' %}" alt="ozon-dunya">
        <h3 style="color: blue">Dunyada Ozon</h3><br>
            <p>
                    Günümüzde Dünyanın Çeşitli yerlerinde Ozon tedavisi uygulayan doktorlar ve klinikler bulunmaktadır. Bu sayfada bunlara yer verilecektir.
            </p>
<p>
    
    <b>CANADA</b>

<br><br>
            

<b>Doctors and Clinics - Alberta</b>
<br> <br>
Dr. Blair Hunter <br>
Health Horizon Plus <br>
100 Milliagn Drive <br>
Okotoks, AB T0L 1T1 <br>
403-938-8244 <br>
888-933-8244 Fax <br>
<br><br>
Dr. Michael Nowazek, BSc, ND <br>
President, Alberta Association of Naturopathic Doctors <br>
Office Address: <br>
Suite 101, 9811 - 34 Ave <br> 
Edmonton, AB <br>
T6E 5X9 <br>
Phone: 780-905-1930 <br> 
Fax: 780-462-0153 <br>
<br><br>
Dr. Wayne Steinke <br>
6918-77 Street <br>
Edmonton, AB T6E 6V2 <br>
780-436-7100 <br>
780-436-8276 Fax <br>
<br><br>
<b>Doctors and Clinics - British Columbia</b>
<br><br>
Dr. Phoebe Chow <br>
2298 Newport Avenue <br>
Vancouver, BC V5P 2J2 <br>
604-327-0021 <br>
<br><br>
Dr. Kathy Graham <br>
1283 Main Street, Box 3579 <br>
Smithers, BC V0J 2N0 <br>
250-847-0144 <br>
<a href="www.naturallyempowered.com">website</a>
<br><br>
Dr. Martin Kwok <br>
8140 Cook Road <br>
Richmond, BC V6Y 1V1 <br>
604-207-0167 <br>
<br><br>
Dr. Rod Santos <br> 
Central Park Naturopathic Clinic <br> 
4071 Kingsway Ave <br>
Burnaby BC V6H 1Y9 <br>
Tel: 604-338-8375 <br>
Fax: 866-247-1189 <br>
Also a clinic at:Squamish Naturopathic Clinic <br> 
38134 Second Ave. <br>
Squamish BC V0N 3G0 <br>
Tel: 604-892-1578 <br>
Email: drsantos@telus.net <br> 
<a href="www.centralparknaturopathic.com">website</a>  
<br><br>
Shalimar Health Spa <br>
701 Lakeside Drive <br>
Nelson, BC   V1L 6G3 <br>
250-354-4408 <br>
<br><br>
<b>Doctors and Clinics - Ontario</b>
<br><br>
Dr. Fred Hui <br>
421 Bloor Street East, Suite 202 <br>
Toronto, ON M4W 3T1 <br>
416-920-4200 <br>
<br><br>
Dr. Donn Gaudin, Phd, MD <br>
Canadian Centre for Integrated Health Studies Inc. <br>
30 Sword Street <br>
Toronto, ON, M5A 3N2 Canada <br> 
Tel: 416-922-0006 <br>
Fax: 416-922-8188. <br>
<br><br>
Dr. Michael Prytula <br> 
296 Welland Avenue <br>
St. Catherines, ON L2R 7L9 <br> 
Tel: 905-684-4934 <br>
<br><br>
<b>Mexico - Veracruz</b>
<br><br>
Dr. Antonio Gomez Yepes <br>
Antiguo Jardin Lecuona <br>
Guerro #4 <br>
Banderilla, Veracruz Mexico 91634 <br>
Tel: 52 228 8111861 <br>
<a href="www.terapiasmetabolicas.com" >website</a>

<b>Mexico - Los Algodones</b>
<br><br>
Dr. Curt Maxwell, D.C. <br>
233 Ave A. <br>
Los Algodones, BC Mexico <br> 
(Only 7 Miles from Yuma Arizona) <br> 
Tel: 928-220-1295 <br>
Email: drmaxwell@pocketmail.com <br> 
<a href="www.doctormaxwell.com ">website</a> 
<br><br>
<b>Puerto Rico - Hato Rey</b> 
<br><br>
Osvaldo Font <br>
Centro de Diagnostico, rehabilitacion y Control de Dolor <br>
117 Eleonor Rosevelt St <br>
Hayo Rey, Puerto Rico 00918 USA <br> 
Tel: 787-754-9775 and 754-9799 <br>
Fax: 787-763-3698 <br>
Email: controldeldolor1@yahoo.com <br>
<br><br>
<b>Puerto Rico - San Juan</b>
<br><br>
Dr. Jorge Colon-Martinez, MD <br>
Primary Care Services <br>
150 DeDiego Ave, Suite 607 <br>
San Juan Health Center Building <br>
San Juan, Puerto Rico 00911 <br>
Tel: 787-722-9416 <br>
Fax: 787-723-7945 <br>
Email: jordicolon@hotmail.com <br>
<br>
Dr. Jorge Colon-Velez, MD <br> 
Primary Care Services <br>
150 DeDiego Ave, Suite 607 <br>
San Juan Health Center Building <br>
San Juan, Puerto Rico 00911 <br>
Tel: 787-722-9416 <br>
Fax: 787-723-7945 <br>
Email: jordicolon@hotmail.com <br>
<br>
<b>South Africa - Parys</b> 
<br><br>
Dr. Gerrie Lindeque, MD <br> 
Buitenstreet 24 <br>
Parys, Freestate, South Africa 9585 <br> 
Tel: 56-8176217 <br>
Fax: 56-8176935 <br>
<br>

Dr. Walter Bell, MD <br>
Nutricross <br>
Buitenstreet 24 <br>
Parys Freestate, South Africa 9585 <br> 
Tel: 56-8176217 <br>
Fax: 56-8176935 <br>
<br>
<b>USA</b>
<br><br>
<b>Ozone Therapy Doctors and Clinics - Alaska</b> 
<br><br>
Dr. Michael J. Ellenburg ND, MPH, MAc <br>
615 East 82nd Ave., suite 300 <br>
Anchorage, Alaska 99518 <br>
Tel: 907-344-7775 :: Fax: 907-522-3114 <br>
<a href="www.comprehensivemedicine.net ">website</a> 
Email: mellenburg@acsalaska.net <br>
<br>
<b>Ozone Therapy Doctors and Clinics - Arizona</b> 
<br><br>
Dr. Abram Ber <br> 
5011 N. Granite Reef Road <br> 
Scottsdale, AZ 85250 <br>
480-941-2141 <br>
UVB, O3 therapy <br>
<br>

Dr. Eli Ber, ND <br> 
Ber Medical Center <br>
10752 N. 89th Place B213 <br> 
Scottsdale AZ 85260 <br>
Tel: 480-634-6172 <br>
Fax: 480-634-6975 <br>
<br>
Dr. Dennis Best <br> 
3956 East Pima <br>
Tucson, AZ 85712 <br>
520-326-7566 <br>
<br>
Dr. Katka Novakova NMD <br>
D4D (Diabetic for Diabetic) Medical Center <br> 
10640 N 28th Drive, Suite A-103 <br>
Phoenix, AZ 85029 <br>
602-424-2080 <br>
<br>
Gordon Josephs <br> 
Chelationcare Centers USA <br>
7315 E. Evans Road <br>
Scottsdale, AZ 85260 <br>
480-998-9232 <br>
<br>
Dr. Dino Prato <br>
Natural Medical Center of Arizona <br> 
4614 E. Shea Blvd, Suite D140 <br>
Pheonix, AZ <br>
85028 USA <br>
Tel:  602-569-4144 <br>
Fax: 602-569-4244 <br>

<a href="www.behealthyamerica.com">website</a> 
<br><br>
Arizona Integrative Medical Center <br>
Paul Stallone, NMD <br>
8144 East Cactus Road <br>
Scottsdale, AZ 85260 USA <br>
Web site: www.drstallone.com <br>
<br><br>
Dr. Frank George, MD <br> 
Hoyle T Alden, MD <br>
6748 E. Lone Mountain <br>
Cave Creek, AZ <br>
85331 USA <br>
Tel: 480-595-5508 <br> 
Fax: 480-575-1570 <br>
<br><br>
<b>Ozone Therapy Doctors and Clinics - California</b> 
<br><br>
Dr. Bryan T. Drain, ND <br> 
Holistic Health Solutions <br>
2602 First Ave, Suite 205 <br>
San Diego, CA <br>
Tel: 619-238-8393 <br>
<a href="www.holistichealthsolutions.info ">website</a> 
<br><br>
Dr. Antonin Hrabal, MD, DS <br>
Hippokrates Corporation <br>
74785 Hwy 111, Suite 207 <br>
Indian Wells, CA 92210 USA <br>
Tel: 1-888-261-6360 <br>
Fax: 760 200 5176 <br>
Email: hippokratescorp@yahoo.com <br> 
<br>
Dr. Jennifer Wicher <br> 
Synergy Naturopathic Medical Clinic <br>
698 West Foothill Blvd <br>
Monrovia CA 9106 <br>
Tel: 626-303-3300 <br>
Fax: 626-303-3300 <br>
Email : jen@synergymedclinic.com <br> 
<a href="www.synergymedclinic.com ">website</a> 
<br><br>
Dr. Jakob Jaggy <br><br> 
575 Stanislaus Avenue, Suite A <br> 
Altaville, CA 95221 <br>
209-736-2636 <br>
<br>
Dr. Howard Press <br> 
172 Eldorado St. <br>
Monterey, CA 93940 <br>
Tel: 831-657-9557 <br>
<br>
Dr. Robert Smatt <br> 
5621 Balboa Avenue <br>
San Diego, CA 92111 <br>
858-278-1575 <br>
858-278-1551 Fax <br>
<br>

<b>Ozone Therapy Doctors and Clinics - Colorado</b> 
<br><br>

Dr. David Siemens <br>
125 First Street <br>
Eaton, CO 80615 <br>
970-454-3351 <br>
970-454-3330 Fax <br>
<br>
<b>zone Therapy Doctors and Clinics - Florida</b> O
<br><br>
Dr. Hank Berato <br>
8740 North Kendall Drive, Suite 214 <br> 
Miami, FL 33176 <br>
305-271-8321 <br>
Ozone therapy in Dentistry
 <br><br>
Dr. J. Martin <br>
4615 Bee Ridge Road <br>
Sarasota, FL 34233 <br>
941-371-1991 <br>
<br>
Dr. David Rosensweet <br> 
#103 - 296 1460 Golden Gate Parkway <br>
Naples, FL 34105 <br>
Tel: 239-649-4950 <br>
<br>
Dr. William Watson  <br>
5536 Stewart Street <br>
Milton, FL   32570 <br>
850-623-3836 <br>
<br>
<b>Ozone Therapy Doctors and Clinics - Georgia</b> 
<br><br>
Dr. Stephen B. Edelson <br> 
The Edleson Center for Environmental and Preventative Medicine, Inc. <br>
3833 Roswell Road, Suite 110 <br>
Atlanta, GA   30342-4432 <br>
404-841-0088 <br>
404-841-6416 Fax <br>
<br><br>
<b>Ozone Therapy Doctors and Clinics - Idaho</b> 
<br><br>
Dr. Richard A Powell, ND <br>
Southern Idaho Naturopathic Clinic <br>
409 Shoshone St. South, #12 <br>
Twin Falls, Idaho 83301 <br>
Tel: 208-733-2610 <br>
Fax: 208-733-6066 <br>
Email : Dr.Powell@in-sinc.org <br> 
<a href="www.in-sinc.orgbr">website</a> 
<br><br>
<b>Ozone Therapy Doctors and Clinics - Illonois</b> 
<br><br>
Dr. Julia Whipkey-Michniewicz, ND <br>
Dr. Julia's Inn <br>
3423 Bartholomew St. <br> 
Rockford IL 61101 <br>
Tel: 815-962-3326 <br>
Email: drjuliasinn@insightbb.com <br> 
<a href="www.drjuliasinn.com">website</a>  
<br><br>
<a href="Ozone Therapy Doctors and Clinics - Indiana">website</a> 
<br><br>
Dr. Dale Guyer <br>
Center For Innovative Medicine <br> 
1235 Parkway Drive, Suite B <br>
Zionsville, IN 46077 <br>
Tel: 317-580-9355 <br>
<br>
Dr. David Darbro <br>
8202 Clearvista Parkway <br> 
Building 7 <br>
Indianapolis, IN <br> 
46256 USA <br>
Tel:  917-913-3000 <br>

Fax: 317-913-1000 <br> 
<a href="www.medicalwellnessinstitute.com">website</a>  
<br><br>
<b>Ozone Therapy Doctors and Clinics - Montana</b> 
<br><br>
Dr. Shahab Samieian, MD <br>
1820 Harrison Ave <br>
Butte, MT <br>
59701 USA <br>
Tel: 406-733-6609 <br>
<br>
<b>Ozone Therapy Doctors and Clinics - New Jersey</b> 
<br><br>
Dr. Stuart Freedenfeld <br>
Stockton Family Practice <br>
56 South Main Street, Suite A <br>
Stockton, NJ 08559 <br>
609-397-8585 <br>
<br>
<b>Ozone Therapy Doctors and Clinics - New Mexico</b> 
<br><br>
Dr. Robert Friedman <br>
PO Box 5054 <br>
Sante Fe, NM 87502 <br> 
505-982-1682 <br>
<br>
Dr. George Keanna, DDS <br>
8501 Candelaria NE, Suite A-2 <br> 
Albuquerque, NM 87112 <br>
Tel: 505-292-8533 <br>
Email: gkeanna3@comcast.net <br>  
<br>
<b>Ozone Therapy Doctors and Clinics - Nevada</b> 
<br><br>
Dr. Michael Gerber <br>
3670 Grant Drive, Suite 101 <br> 
Reno, NV 89509 <br>
775-826-1900 <br>
<br>
Dr. Frank Shallenberger <br> 
Nevada Center For Alternative & Anti-Aging Medicine <br> 
1231 Country Club Drive <br>
Carson City, NV 89703 <br>
Tel: 775-884-3990 <br>
Fax: 775-884-2202 <br>
<br>
<b>Ozone Therapy Doctors and Clinics - New York</b> 
<br><br>
Dr. Robert Barnes, D.O. <br> 
3489 East Main Road (US RT 20) <br> 
Fredonia, NY   14716 <br>
716-679-3510 <br>
716-679-3511 Fax <br>
<br>
Dr. Harold Chandler Clark, MD <br>
400 Webster Ave <br>
New Rochelle NY 10801 USA <br> 
Tel: 914-235-8385 Fax: 914-235-3517 <br> 
<br>
<b>Ozone Therapy Doctors and Clinics - North Carolina</b> 
<br><br>
Dr. John Wilson <br> 
1312 Patton Avenue <br>
Asheville, NC   28806 <br>
828-252-9833 <br>

<b>Ozone Therapy Doctors and Clinics - Ohio</b> 
<br><br>
Dr. Robert Angus <br>
122 Thurman Street <br>
Bluffton, OH 45817 <br>
419-358-4627 <br>
<br>
Dr. Bhardwaj <br>
9019 Colern Avenue <br> 
Cincinnati, OH 45251 <br>
513-385-8100 <br>
<br>
Dr. Cheryl Kaster, DC <br> 
O3SS <br>
4701 Olentangy River Road <br>
Suite 001 <br>
Columbus, OH 43214 USA <br> 
Tel: 614-218-4156 <br>
Email: o3ss@sbcglobal.net <br>  
<br>
<b>Ozone Therapy Doctors and Clinics - South Carolina</b>  
<br><br>
Dr. Rodrigo Rojas, MD <br>
1314 Fording Island Road <br>
Bluffton SC 29910 USA <br>
Tel: 843-757-7427 <br>
<br>
<b>Ozone Therapy Doctors and Clinics - Texas</b> 
<br><br>
Dr. Barry Beatty <br> 
DFW Pain Treatment Center <br> 
4455 Camp Bowie Blvd., Suite 211 <br> 
Fort Worth, TX 76107 <br>
817-737-6464 <br>
<br>
Dr. William Coleman <br>
Health Life Center <br>
512 Meadowlake Center <br>
Waco, TX  76712 <br>
254-772-5353 <br>
<br>
Dr. Constatine Kotsanis <br>
Texas Metabolic Medicine <br>
1600 West College, Suite 260 <br>
Grapevine, TX 76051 <br>
817-481-6342 <br>
<br>
Dr. Richard Massey <br> 
1302 E Main <br>
Fredericksburg, TX 78624 <br>
Tel: 830-990-0629 <br>
<br>
Dr. Ron Manzanero <br>
Austin Rejuvenation Clinic <br> 
911 W. Anderson Lane, Suite 205  <br>
Austin, TX 78757 <br>
512-343-6223 <br>
<br>
Dr. Kam Friedrichs <br> 
114 Farquhar, Suite 100 <br>
Navasota, TX <br>
77868 USA <br>
Tel: 936-825-6365 <br>
Fax: 713-290-9219 <br>
<br>
<b>Ozone Therapy Doctors and Clinics - Virginia</b> 
<br><br>
Dr. Joan Resk <br>
Health for a New Century <br> 
Parkway Professional Center <br>
5303 Clearbrook Lane <br>
Roanoke, VA 24014 <br>
540-776-8331 <br>
<br>
<b>zone Therapy Doctors and Clinics - Washington</b> O
<br><br>
The Leo Bolles Clinic <br> 
15611 Bel Red Road <br>
Belleview, WA 98008 <br>
425-881-2216 <br>
<br>
Dr. Michael Conway <br>
3606 Main Street, Suite 202 <br> 
Vancouver, WA 98663 <br>
360-695-7699 <br>
<br>
<b>Ozone Therapy Doctors and Clinics - Wisconsin</b> 
<br><br>
Dr. Jill Check <br> 
Naturopathic Health Center and Apothecary <br> 
5170 N. Hollywood Avenue, Suite B <br>
Whitefish Bay, WI 53217 <br>
414-962-2608 <br>
  
    </div>
{% endblock %}