{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Enfeksiyon Hastalıklarında Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/mediozon.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Enfeksiyon Hastalıklarında Ozon</h3><br>
        <p>
                Ozon virüs, mantar ve virüs gibi çeşitli mikro organizmalara karşı etkilidir. Hastalık oluşturan bu tür etkenlerin günümüzde tedavisinde kullanılan bir çok ilaç vb madde ayni zamanda vücut hücrelerine de zarar verebilmektedir. Ozon diğer tüm tedavi edici ajanlardan farklı olarak tedavide kullanılırken mikropları öldürürken vücut hücrelerine zarar vermemektedir.
        </p>
        <p>
                Ozon mikrop adı verilen mikro organizmaların hücre zarlarının yapısını bozar. Bu hücrelerin diğer organizma hücreleri gibi antioksidan savunma sistemleri olmadığı için kendilerini ozona karşı savunamazlar. Hücre içine giren ozon hücrelerin üremesi için gerekli olan kapalı DNA yapılarını da tahrip ederek üremelerine engel olur. Bu etki mekanizması mikropların antibiyotiklerde olduğu gibi bir direnç gelişimine yol açabilecek durum değildir. Bu şekilde ozon bir çok enfeksiyon hastalığında yan etki, direnç ve vücuda zarar vermeden tedavi amaçlı kullanılmaktadır.
        </p>
        <p>
                Genel olarak kullanıldığı bakteriyel enfeksiyon hastalıkları;
                <ul>
                    <li>Abse</li>
                    <li>Anal fissur</li>
                    <li>Fistül</li>
                    <li>Fronkülozis</li>
                    <li>Gingivitis, stomatit</li>
                    <li>Sinüzit</li>
                    <li>Peritonit</li>
                    <li>Osteomyelit</li>
                    <li>Vulvovajinit</li>
                </ul>
        </p>
<p>
        Ozon virüslere de benzer bir şekilde hücre zarlarındaki polipeptid zincirlerini yıkarak hücre içi RNA larını tahrip ederek üremelerine engel olur. Bu etki mekanizması tüm virüsler için geçerli olduğundan tıbbin çaresiz kaldığı AIDS, Hepatit virüsleri gibi etkenlere karşı başarı sağlamaktadır.
</p>
<p>
        Diğer yandan insan bedeninin kendi savunma sistemini güçlendirici yararı mikroplarla savaşta yarar sağlar. Mononükleer hücre aktivasyonu, sitokin salınımı gibi etkileri insan bedenine güç kazandırmaktadır.
</p>
<p>
        Hepatit Virüsleri - Hepatit A, Hepatit B ve Hepatit C virüsleri <br>
        Herpes türleri - Herpes Simplex, Herpes Zoster, Herpes Genitalis <br>
        Papilloma virüs- verruka vulgaris, verruka plantaris, condiloma accuminata gibi hastalıklar <br>
</p>
<p>
        Enfeksiyon hastalıklarının tedavisinde hastalığın yerleşim yeri ve durumuna göre çeşitli yöntemlerle uygulanmaktadır.
</p>
           <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}