{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Ozonun Etkileri --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/mutlu.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Ozonun Etkileri</h3><br>
        <p>Ozon mikroorganizma denilen küçük canlılar üzerinde
            çok güçlü öldürücüye sahiptir. Genel milrop denilen 
            virüs, bakteri, mantar gibi organizmaların yaşamasını
            ve çoğalmasını engeller. Bu özelliği ile bilinen en 
            etkili dezenfektan maddedir. Klordan bu yönü ile 3000
            katdan daha güçlü bir etkiye sahiptir. 1 gr ozon 1 ton
            sudaki zararlı organizmaları birkaç dakika içinde 
            öldürür.
        </p>
        <p>
            <b class="baslik">Koku giderici etkisi vardır.</b>
            Bu yönü ile havanın temizlenmesinde yararlıdır.
            <br>
            Ortamda bulunan çeşitli moleküllerin parçalanarak
            yok olmasını sağlar. Bu yiyecek ve içeceklerin renk, koku ve tat
            özelliklerinin korunması ve sağlanmasına yarar.
            <br>
            Ozon bu etkileri nedeniyle günümüzde çok çeşitli alanlarda kullanılmaktadır.
            Genel olarak tıp dışı kullanım alanları;
            <ul>
                <li><b class="baslik">Suların Temizlenmesi:</b> Sanayi atıkları, yer altı 
                kaynak suları, yüzme havuzları, içme suyu gibi çeşitli özellikteki
            suyun doğaya uygun, içilebilir, kullanılabilir hale gelmesini sağlar.</li>
            <li><b class="baslik">Havanın Temizlenmesi:</b> Mikroplar ve koku üzerine olan etkisi nedeniyle her türlü ortamın havasının temizlenmesi amacıyla yaygın olarak kullanılmaktadır.</li>
            <li><b class="baslik">Ortamın Temizlenmesi:</b> Gıda üretimi yapan tesis ve işletmelerin, sağlık sektöründeki hastane, ameliyathane gibi yerlerin insan sağlığına zararlı olabilecek koşullarının giderilmesini sağlar.</li>
            <li><b class="baslik">Gıda Üretimi:</b> Endüstriyel olarak üretim yapılan çeşitli ürünlerin sağlıklı ve dayanıklı olması amacıyla çok yararlıdır. Et, balık, tavuk, sebze, meyve vb. üretiminde ürünlerin mikroptan arındırılması, insan sağlığına zararlı olabilecek ilaç gibi kimyasallardan temizleme, renk, koku, tat gibi özelliklerinin korunması, sağlanması ve devamlılığı ozon yardımıyla gerçekleşmektedir.</li>
            </ul> 
        </p>
        <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}