{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Etki Mekanizması --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/ozonetki2.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Ozonun Etki Mekanizması</h3><br>
            <ol>
                <li class="baslik">Anti-Bakteriyel Etki</li>
                <li class="baslik">Anti-Viral Etki</li>
                <li class="baslik">Anti-FUngal Etki</li>
                <li class="baslik">Vücut Sistemlerinin Dengesinin Sağlanması :
                    <div style="padding-left: 2rem;">
                    <ul>
                        <li style="color: black; font-size: 1rem;"> Kanın oksijen taşıma özelliğinin arttırılması </li>
                        <li style="color: black; font-size: 1rem;"> Pro ve antioksidan sistemlerin aktivasyonu.</li>
                        <li style="color: black; font-size: 1rem;"> Kanın mikro ve makro akım özelliğinin geliştirilmesi</li>
                        <li style="color: black; font-size: 1rem;"> Hemeostazisin aktivasyonu.</li>
                        <li style="color: black; font-size: 1rem;"> Kan yapımının ve kemik iliğinin uyarılması.</li>
                        <li style="color: black; font-size: 1rem;"> Karbonhidrat, protein, lipid, metabolizmasının aktivasyonu (bioenerjik, biosynthetic etkiler).</li>
                        <li style="color: black; font-size: 1rem;"> Biyolojik aktif maddelerin yapımının aktivasyonu.</li>
                        <li style="color: black; font-size: 1rem;"> Ozonun Immunomodulating etkisi .</li>
                        <li style="color: black; font-size: 1rem;"> Analjezik (ağrı kesici) etki.</li>
                        <li style="color: black; font-size: 1rem;"> Ozonun detoks etkisi.</li>
                    </ul></div>
                </li>
            </ol>
            <h3 style="color: blue">Dr. Ruhi Çakır</h3>
            <div style="height: 140px"></div>
            </div>
{%endblock%}
      