{%load static%}
<link rel="stylesheet" href="{% static 'pages/css/footer.css' %}">

<footer  style="width: 100%;" class=" font-small shadow ">
    <div  class="text-center ">
          <p> <span style="color: blue">Adres: </span>Barbaros Mah. Mor Sümbül sk. No : 5/A D:226 
            Ataşehir/İSTANBUL 
          <br>
          <span style="color: blue">Tel: </span>0216 368 16 45 - 368 28 47<br>
            <span style="color: blue">Fax: </span> 0216 369 47 27
           <br> <span style="color: blue">Mail: </span>
          dr.ruhicakir@mediozon.com<br>
            ozon@mediozon.com </p>
        
        
  
    </div>
   
  
    
    <div class="footer-copyright text-center">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> www.mediozon.com</a>
     <br>
     Lal Verda Çakır
    </div>
   
  
  </footer>
