{% extends 'base.html' %}
{%load static%}
{%block titleName%}
Hakkimizda --Mediozon
{%endblock%}
{% block maincontent%}
<div align="center" style="margin-top: 2rem;" class="">
<div  id="carouselExampleIndicators" class="carousel slide w-50 " data-ride="carousel"  >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner ">
      
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'pages/images/ofis_5.jpg'%}" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'pages/images/ofis_6.jpg'%}" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'pages/images/ofis_7.jpg'%}" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'pages/images/ofis_8.jpg'%}" alt="Third slide">
      </div><div class="carousel-item">
        <img class="d-block w-100" src="{% static 'pages/images/ofis_9.jpg'%}" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'pages/images/ofis_10.jpg'%}" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container" style="margin-top: 5rem;">
  <p>

1984 yılından bu yana serbest hekim olarak çalışan iki doktor tarafından 1994 yılında İstanbul’da kurulmuştur. Sağlık Hizmeti alanında faaliyet göstermektedir. Çocuk Hekimliği, Diş Hekimliği, Ozon Tedavileri, Kolon Hidro Terapi, Medikal Estetik Uygulamalar, Detox, Anti-Aging, SPA uygulamaları temel çalışma alanlarıdır.
  </p> <p>
Eser Medikal Sağlık Hizmetleri Ticaret Limited Şirketi kendi çalışma alanı dışında olanakları çerçevesinde toplumsal hizmetlerde bulunmaktadır. <a href="wwww.bebekkokusu.com">Bebekkokusu</a>  web sitesi Eser Medikal tarafından hazırlanan ve yayında güncel olarak tutulan, ticari olmayan bir toplum hizmetidir. <a href="wwww.bebekkokusu.com">Bebekkokusu</a> şuanda 210.000 e yakın ve sayısı hergün artan üyesi bulunan geniş içerikli bir sağlık portalıdır. 
  </p>
</div>
  <div  style="margin-top: 5rem " class="container ">
   
          <img style="float: left; margin: 2rem 2rem" src="{%static 'pages/images/ruhi.jpg'%}" alt="ruhi">
          <p>
          1959 yılında İstanbulda doğdu. İlkokulu Balıkesirde okuduktan sonra
          sırasıyla İstanbul Darüşşafaka Lisesi, Amerikada US Grant Highs School ve
          Balıkesir M.H.Lisesinde eğitimine devam etti. İÜ İstanbul Tıp
          Fakültesinden 1984 yılında mezun oldu. Almanya Robert Bosch Krankenhaus,
          Amerika Mayo Clinic, Minneapolis Childrens Hospitalda çalıştı.
          </p>
          Türkiyede kamu ve özel sektörde çocuk ve aile hekimi olarak çalıştı. 2000
          den sonra tamamlayıcı tıp bilimlerine yöneldi. Amerika, İspanya, İtalya,
          Almanya Ve Rusyada çeşitli eğitimler aldı.
          <p>
          Ozon Tedavisi, Kolon Hidroterapi, Magnetik Biorezonans, Anti-Aging
          uygulamalar, Low Level Laser Terapi, Estetik-Kozmetik Tedaviler alanlarına
          yöneldi. Bu konuda aldığı eğitimlerden sonra eğitmen oldu. Türkiyede ve
          çeşitli ülkelerde bu konularda eğitmenlik yapmaktadır.
        </p><p>
          Evli ve üç çocuk babasıdır. 
        </p>
      
  </div>
<div class="container">


  <h3 style="color: blue">Kliniğimizde Yapılan Tedaviler</h3><br>
  <p>
      Kliniğimizde tedavi edilebilen bir çok hastalık ve durum bulunmaktadır. Bunlardan bazıları şunlardır.
      <ul>
        <li>Her türlü yara – yanık</li>
        <li>Şeker hastalarının iyileşmeyen yaraları</li>
        <li>Damar tıkanıklığına bağlı bacak yaraları</li>
        <li>Apseler, mikrobik iltihaplı cilt hastalıkları</li>
        <li>Kanser hastalarının tedavilerine ek olarak (gördükleri tedavinin yan etkilerinin giderilmesi ve tedavinin desteklenmesi, bitkinlik, halsizlik durumunun giderilmesi)</li>
        <li>Ülser, gastrit
          </li>
        <li>Kolitis ülseroza, spastik kolon gibi barsak hastalıkları</li>
        <li>Hepatitler ( Kronik B ve C tipi hepatitler)</li>
        <li>Pankreatit, peritonit</li>
        <li>Karaciğer sirozu</li>
        <li>Diabet – Şeker hastalığı
          </li>
        <li>Astım Bronşitler</li>
        <li>Kronik Bronşitler, Amfizem</li>
        <li>Zatüre, zatürcemp (Pnömoni – Plörezi – Ampiyem)</li>
        <li>İskemik Kalp Hastalıkları – Geçirilmiş enfarktüsler</li>
        <li>Alerjik hastalıklar</li>
        <li>Romatizmal hastalıklar</li>
        <li>Eklem kireçlenmeleri</li>
        <li>Kemik erimesi (Osteporoz)</li>
        <li>Yaşlılığa bağlı göz bozuklukları (Makuler optik atrofi)
          </li>
          <li>Gözde retina sorunları</li>
          <li>Kornea hasarları</li>
          <li>Böbrek ve idrar yolu hastalıkları</li>
          <li>Pyelonefrit, üretrit, sistit, prostatit</li>
          <li>Cinsel ilişki ile geçen hastalıklar</li>
          <li>İltihaplı sivilceler, kistik akneler</li>
          <li>Sedef hastalığı</li>
          <li>Pyoderma, egzema, atopik dermatit</li>
          <li>Skleroderma, bülloz dermatozlar, Liken planus
            </li>
          <li>Saç dökülmesi (kısmi, genel, alopesi)
            </li>
            <li>Herpes enfeksiyonları, kollejenozlar</li>
            <li>Kadın Hastalıkları PID, vajinitler</li>
            <li>Spontan düşükler</li>
            <li>Gestosis</li>
            <li>Gebelik anemisi</li>
            <li>Intrautern fetal enfeksiyonlar</li>
            <li>Erken toksikozlar</li>
            <li>Fetoplacental yetersizlik</li>
            <li>Vulvar distrofi</li>
            <li>Bazı kısırlık türleri
              </li>
              <li>Nörolojik hastalıklar, migren</li>
              <li>Fibromyaljiler
                </li>
              <li>Beyin dolaşım yetersizlikleri</li>
              <li>Alzheimer, Parkinson</li>
              <li>Periferik sinir hastalıkları</li>
              <li>Bağışıklık sisteminin güçlendirilmesi</li>
              <li>Çocuklarda sık hastalanma, iştahsızlık sorunları
                </li>

      </ul>
  </p>
  <p>
    Sağlıklı Kişilerde:
    <ul>
      <li>Kronik Yorgunluk Şikâyetlerinin giderilmesi</li>
      <li>Gezici kronik ağrıların tedavisi</li>
      <li>Uykusuzluk, halsizlik yakınmalarında</li>
      <li>Aktif, zinde, sağlıklı olmak istenilen durumlarda</li>
    </ul>
  </p>
  </div>
  <div class="container">
  <h3 style="color: blue">Kliniğimizde Uygulanan Tedavi Yöntemleri</h3><br>
  <p>
      Kliniğimizde yurt dışında uygulanan tüm ozon tedavi yöntemleri uygulanmaktadır. Genel olarak ozon uygulamaları tedavi edici olmalarının yanında sağlıklı kişilere de uygulanan diğer yöntemleri ve kozmetik amaçlı olanları da içermektedir.
    <ul>
      <li>Majör autohematerapi</li>
      <li> Minör autohematerapi</li>
      <li>Bagging ( Torbalama metodu ile ozon yıkama)</li>
      <li>Capping (Kupa yöntemi )</li>
      <li>İnsufflasyon ( ozon gazı üfleme yöntemi ) </li>
      <li>Rektal insufflasyon</li>
      <li>Kulak insufflasyonu</li>
      <li>Sinüs insufflasyonu</li>
      <li>Vajinal insufflasyon</li>
      <li>Ozon enjeksiyonu </li>
      <li>Blister</li>
      <li>Ozonlu akapunktur</li>
      <li>Yavaş multienjeksiyon</li>
      <li>Cilt içi enjeksiyon</li>
      <li>Eklem içi enjeksiyon</li>
      <li>Ozonlu su uygulamaları</li>
      <li>Ozonlu serum uygulamaları</li>
      <li>Ozonlu yağ masajı</li>
      <li>Vakum uygulamaları</li>
      <li>Bubble hydro masaj</li>
      <li>Tüm beden ozon banyosu </li>
    </ul>
    </p>
  </div>
  <div class="clearfix"></div>


{% endblock %}
