{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Ozon ile Tedavi Edilen Hastalıklar --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/ozontedavi.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Ozonun ile Tedavi Edilen Hastalıklar</h3><br>
            <p><b>Cerrahi</b> <br>
            Abse, enfekte yara, septik durumlar, peritonitis, decubitis, yanıklar, kötü iyileşen yaralar, trofik ulserler, kronik osteomyelit, thromboflebit, ayak ve bacaklarda arterial damar tıkanıklığı ve daralması.</p>
            <p>
                <b class="baslik">İç Hastalıkları</b> <br>
                Kronik gastrit, kolit, peptik ulser, Kronik hepatit, karaciğer sirozu, romatizma, artrit ve eklem kireçlenmeleri, iskemik kalp hastalıkları, alerjik hastalıklar, solunum yolu hastalıkları, diabetes mellitus.
            </p>
            <p>
                <b class="baslik">Göz Hastalıkları </b> <br>
                            Leber's optic atrophy, Retina atrofisi, kornea hasarları, yaşlılar makuler optik atrofi
            </p>
            <p>
                <b class="baslik">Üroloji</b> <br>
                Pyelonefrit, sistit, üretrit, prostatit.
            </p>      
            <p>
                <b class="baslik">Venereal hastalıklar</b> <br>
            Cinsel ilişki ile geçen hastalıklar ve onlara bağlı komplikasyonlar.
                
            </p>
            <p>
                <b class="baslik">Dermatoloji </b> <br>
            İltahaplı sivilceler, pyoderma, herpes, mantar hastalıkları, scleroderma, psoriasis (sedef hastalığı), neurodermatitis, egzema, büllü dermatozlar.

            </p>
            
             <p>
                 <b class="baslik">Cosmetoloji</b> <br>
            Akneler, cilt tahrişleri, sellülit, lokal lipodystrophy, alopecia (saç dökülmesi).

             </p>
             <p>
                 <b class="baslik">Kadın & Doğum</b> <br>
            PID (Pelvik İnflamatuar Hastalık) kadın genital hastalıkları, gestosis, gebelik anemisi, düşük tehdidi, kısırlık.

             </p>
            <p>
                <b class="baslik">Nöroloji </b> <br>
                Serebrovasküler yetersizlik, periferik sinir sistemi hastalıkları migren.

            </p>
             <p>
                 <b class="baslik">Diş Hekimliği</b>
                 <br> Stomatit, paradontosis, pulpitis.
             </p>
            
            
            
             
            
            
        <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}