{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Hepatitlilerin Tedavisinde Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/hepatit.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Hepatitlilerin Tedavisinde Ozon</h3><br>
       <p>
        Ozon tedavisinin oldukça yararlı olduğu bir hastalık grubu da Viral Hepatilerdir. Gerçek anlamda bir ilaç tedavisi olmayan bu hastalıklarda günümüzde sıklıkla çaresiz kalınmaktadır. Tedavi anlamında yapılanlar sınırlı, başarı şansı düşük ve yan etkiler çok fazladır. A tipi Viral Hepatitlerde pek fazla sorun yaşanmasa da B ve C tipi viral hastalıklar ciddi bir sorun olmaktadır. Günümüzde uygulanan interferon alfa ve ribaflavin tedavisi çok maliyetli olması yanında yan etkilerinin fazlalığı ve başarı şansının çok düşük olduğu bilinmektedir.
    </p> <p>
Ozon Viral Hepatitlerin A, B ve C tiplerinin hepsine hem akut hem de kronik formlarında etkilidir.
</p> <p>
Ozon virüslerin üremesini engellediği gibi ayni zamanda karaciğer hücrelerine yapışmasını da engellemektedir. Diğer yandan vücut savunmasını güçlendirerek mücadelede destek vermektedir. Antioksidanların artışı yanında T ve B lenfositlerin artışı tedavide başarı sağlamaktadır.
</p> <p>
Tedavi öncesi ve sonrası yapılan kontrollarda virüsün yok edilmesi yanında büyük ölçüde aktivitesi de azalmaktadır. Karaciğer hasarını gösteren testlerde iyileşme görülmektedir.
</p> <p>
Mısır Hepatit C vakalarının çok yüksek oranda görüldüğü bir ülkedir. Mısır Hükümeti Üniversite Hastanesine yüksek oranda maddi destek sağlayarak Hepatit C tedavisinde ozonun yararının araştırılmasını talep etmiştir. Yayınlanan çalışmalarda % 70 oranında başarı sağlandığı görülmüştür.
 </p>         <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  
    </div>
{% endblock %}