{% extends 'base.html' %}

{%load static%}
{%block titleName%}
İyi Günde Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/cift.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">İyi Günde Ozon</h3><br>
        <p>
                Tıp adamları sağlığı, ruhsal ve bedensel olarak iyilik hali olarak tanımlamaktadır. Genel olarak herhangi bir yerinden şikâyeti olmayan kişiler kendilerini sağlıklı olarak kabul ederler. Sağlıklı insanlara kendisi ve bedeni ile ilgili olarak tamamen zinde ve sağlıklı hissedip hissetmediklerini, hiçbir şekilde bir şikâyeti olup olmadığını sorduğumuzda çoğunluğunun bazı yakınmaları olmasına karşın bu sorunlarının çözümü için doktora gitmeyi düşünmediklerini görürüz. Yaşadıkları sorunları işine, yaşantısına ya da yaşına bağlı normal gelişmeler olarak kabul ederler.        </p>
        <p>
                Stres günümüzde çalışan çalışmayan herkesin ortak derdi gibidir. İnsanın kendisine yeterli dinlenme ve eğlenme zamanı ayıramıyor olması sorunların kaynağı gibi görülür. Sorguladığımız zaman herkesin işiyle, eviyle, ailesiyle, yakınlarıyla bazı sıkıntıları, maddi manevi sorunları olduğunu görürüz.
        </p>
        <p>
                Sık sık tekrarlayan baş, bel ya da vücudun çeşitli yerlerinde ağrı hissetmektedir. Bazen bu ağrılar için ağrı kesici ilaçlar alınırken bazen de ilaç almadan ağrı ile birlikte yaşamaktadırlar.
        </p>
        <p>
                Birçok insan yetersiz uyku uyumaktadır. Çoğu kez uyku süresi zaman olarak yeterli ise de uykudan dinlenmiş olarak uyanılmamaktadır. Sabahları uyanıldığında kendini yorgun ve dinlenmemiş olarak hissetmek sıklıkla görülmektedir.
         </p>   <p>
                <img style="width: 30%; float: right; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/k.jpg' %}" alt="ozon-etki">

                Mutlu olmak, gülebilmek, yolda yürürken ıslık çalmak, şarkı mırıldanabilmek yoğun yaşam koşullarında pek az kimsenin yaptığı eylemlerdir.
            </p><p>      
                Gençlik yılları süratle geçtikten sonra her geçen sene bir önceki seneki performansımızı, güç ve dinamikliğimizi ararız. Bunu da doğal kabul ederiz. Çünkü her sene bir yaş daha yaşlanmaktayız. Yaşlanmak dediğimiz bedenimizdeki tüm dokuların ve hücrelerin yaşlanması, ölmesi, kaybı ile gelen bir süreçtir, durumdur.
            </p> <p>
                Endüstrileşen dünyamız, sanayileşen toplumlar hava kirliliği, suların kirlenmesi, sağlıksız besinler gibi yaşamı ve canlı organizmaları tehdit eden birçok zararı da yanında getirmektedir. Soluduğumuz hava, içtiğimiz su, yediklerimiz içinde bize zararlı olabilecek birçok başka madde içermektedir. Bu zararlı maddeler vücudun atılım ve boşaltım organlarınca bertaraf edilmeye çalışılsa da birçok toksin denilen atıklar hücrelerimizde, dokularımızda bize çeşitli sorunlar yaratmak üzere kalır.
            </p> <p>  
                Çeşitli nedenlerle hasta olunduğunda ilaç adı altında birçok kimyasal madde kullanılır. İlaçlar hastalık yapan etkenlere karşı bazı başarılar sağlarken yan etki adı altında bir takım istenmeyen sonuçlara da yol açabilir. Yan etki olmasa da kullanılan her ilaç yabancı bir madde olarak bedenimizde çeşitli değişikliklere, ortam bozulmalarına yol açar. Çürük bir diş tedavi amacıyla dolgu yapılırken içine bazı bileşenler yerleştirilmektedir. Tetkik veya tedavi amacıyla röntgen çekilirken özel ışınlara maruz kalıyoruz. Cerrahi müdahale yapıldığında dokularımız kesilip dikiliyor.
            </p> <p>   
                    <img style="width: 40%; float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/old.jpeg' %}" alt="ozon-etki">

                Sağlıklı kabul edilen ve kendisini sağlıklı kabul eden insanların karşı karşıya oldukları ve yaşadıkları olguları daha çok yazmaya devam edebiliriz. İyi günlerini yaşayan bu kişilerin Ozon Tedavisinden yararlanması mümkündür. Genel olarak;
        </p>
        <p>
            <ul>
                <li>
                    <b class="maddeler">Detoksifikasyon:</b>
                    Çeşitli nedenlere vücudumuza girmiş bulunan çeşitli kimyasal ve biyolojik atıkların uzaklaştırılması, zararsız hale gelmesi ozon tedavisi ile sağlanabilir. Yediklerimiz, içtiklerimiz, ilaç olarak kullandıklarımızın yanında yaşayan canlı bir organizma olarak bedenimizde metabolizma artığı olarak oluşan toksin denilen maddelerin uzaklaştırılmasını, sağlığın kazanılmasını ve korunmasını sağlar.
                </li>
                <li>
                        <b class="maddeler">Anti-aging:</b>
                        Yaşlanma ve yaşlanmanın etkilerinin geri alınması, bedensel ve ruhsal anlamda daha sağlıklı, zinde olmak ozonun getirdiği yararlar arasındadır. Bu etki serbest radikallarin atılması, hormon sisteminin canlandırılması (reaktivasyon) ve genel olarak hücrelerin dolayısıyla genel sağlık halinin yeniden kazanılması ve sürdürülmesi yoluyla mümkün olmaktadır                    </li>
                <li>
                    <b class="maddeler">Estetik:</b>
                    Boyumuza ve yaşımıza uygun tartıda olmayabiliriz. Tartı olarak dengeli olunsa da tüm dokuların yanında derimiz arzu ettiğimiz durumda olmayabilir. Ozon tedavisi insan vücudunda yarattığı etkiler aracılığı ile tartı sorunlarına yarar getirebilir. Ayrıca özellikle ozonun içeriği olan yüksek enerjili oksijen sayesinde deri hücrelerinin canlanması, gençleşmesi yoluyla esneklik, gerginlik sağlanır ve sellülit sorunu giderilebilir.               
                 </li>                    
                    <li>
                            <b class="maddeler">Kendini İyi Hissetme:</b>
                            Ozon tedavisi gören insanların yaklaşık tamamının ifade ettiği olgudur. Yüksek enerjili oksijen insanların kendilerini zinde ve sağlıklı olarak hissetmelerini sağlamaktadır. Bu yalancı bir hissediş değil tedavi sonrasında da devam eden bir durumdur.                        
                    </li>   
                    <li>
                        <b class="maddeler">Bağışıklığın güçlenmesi, direncin artması:</b>
                        Ozonun sağlıklı insanlara sağladığı en önemli yararlardan birisi de sağlıklı olan kişilerin bu halinin devamının sağlanmasıdır. Artan vücut direnci, güçlenen bağışıklık sistemi sayesinde çeşitli enfeksiyon hastalıklarına yakalanma olasılığı azaltılırken bir şekilde yakalanılan hastalıkların da kısa sürede atlatılması mümkündür.                
                    </li>
                    <img style="width: 45%; float: right; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/estetik.jpeg' %}" alt="ozon-etki">

                    <li>
                            <b class="maddeler">Kronik Yorgunluğun Giderilmesi:</b>
                            Çağımızda birçok kişinin ortak derdi olan sürekli olarak kendini yorgun, bezgin hissetme durumu ozon yardımıyla giderilmektedir. Ozonun verdiği etki ile yorgunluğa neden olan kimyasal reaksiyonlar önlenmektedir. Kan ve dolaşım sistemine olan etkilerle çalışma ve yaşam temposunda herhangi bir değişiklik olmadan da insanlar bu sorunlarından kurtulabilmektedir.                        
                    </li>
                    <li>
                            <b class="maddeler">Ağrıların Giderilmesi:</b>
                            Hasta olmadan da sağlıklı insanlar çeşitli nedenlere ağrı hissetmektedir. Gün içinde farklı yerlerinde ağrı oluşmaktadır. Bunun nedeni yorgunluk, stres ya da başka bir etken olabilir. Ozonun etkisiyle bu ağrılar oluşmamakta ve oluşanlar da giderilmektedir.                    
                        </li>
                </ul>
        </p>
        <p style="font-size: 1.1rem">
                İyi günlerde yapılacak olan Ozon Tedavisi hem bu iyi günlerin daha da iyi olmasını sağlarken iyi günlerin devam etmesini de sağlamaktadır.
        </p>


            
        <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}