{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Kadın Doğum Hastalıklarında Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/kadin2.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Kadın Doğum Hastalıklarında Ozon</h3><br>
        <p>
                Kadın - Doğum branşının çeşitli hastalıklarında ozon başarıyla tedavi edicidir. Bunların başlıcaları;
                <ul>
                    <li>Spontan düşükler,</li>
                    <li>Rahim içi enfeksiyonlar,</li>
                    <li>Erken toksikoz,</li>
                    <li>Fetoplacenter yetmezlik,</li>
                    <li>PID gibi Genital organların inflamatuar hastalıkları,</li>
                    <li>Gebelik anemisi,</li>
                    <li>Endomyometrit</li>
                    <li>Vajinitler</li>
                    <li>Vulvar distrofi</li>
                </ul>
        </p>
<p>
        Ozon kadın doğum hastalıklarında bakterilere, virüs ve mantarlara karşı olan etkisi, yetersiz oksijenlenmeyi iyileştirmesi, enerji metabolizmasını arttırması, immun modülator etkisivle yararlı olmaktadır.

</p>
<p>
        Gebelikte fetoplacenter yetmezlik denilen dolaşımın bozulması ile rahim içindeki bebeğin gelişimin yavaşlaması ozonun yararlı etkisiyle yeniden sağlanabilmektedir. Oksijenin bebeğin gelişimi için yararlı olup herhangi bir zararı olmaması tedavide güvenle kullanım olanağını sağlamaktadır.
</p>
<p>
        Pıhtılaşma sorunlarına sağladığı yararın yanında kan yapımının artması aneminin düzelmesini sağlamaktadır. Kanama kontrolu yanında doğum sonrasında hissedilen yorgunluk da azalmakta, bebeğin rahim dışı ortama uyumu güçlenmektedir.
</p>
           <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}