{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Kanser Tedavisinde Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/kanser.jpg' %}" alt="ozon-etki">
        
            <h3 style="color: blue">Kanser Tedavisinde Ozon</h3><br>
            <p>
            Kanser bir çok nedene bağlı olarak gelişen bir hastalıktır. Kanserli hücrelerin oluşumunda oksijensiz ya da oksijenden fakir ortamın rolü büyüktür. Diğer yandan kanser hücreleri oksijen olmadan da yaşayabilmektedir. Nobel ödülleri tarihinde bu ödülü iki kez alan bilim adamı Dr. Otto Warburg deney tüpüne embriyo hücrelerini yerleştirip onları oksijensiz yaşamaya zorladığında kanser hücresi özelliğini kazandıklarını göstermiştir. Bu " Normal hücrelerin sadece tek bir değişkeni değiştirmekle kanserli hücrelere dönüşebileceği anlamına gelmektedir" Normal hücreler oksijensiz kaldıkça enerjilerini fermantasyonla elde etmeye başlarlar, bu da yüksek oranda glikoz kullanmaları ve sonucunda da laktik asit artmaktadır. Bu da diğer hücrelerin beslenmesini bozmaktadır. Kanser hücreleri diğer sağlıklı hücrelerin aleyhine gelişmektedir. Oksijenden zengin ortam oluşunca kanser hücreleri üreme yeteneklerini yitirirken diğer hücreler yaşamlarını sürdürebilmektedir.
</p> <p>

Oksijen eksikliği kanserli hücrelerin yayılımını kolaylaştırmaktadır. Oksijen azlığında agresifleşen kanser hücreleri yayılmaya başlar.
</p> <p>
Ozon tedavisi bilimsel olarak kanıtlandığı üzere immun sistemi regüle eder. Zayıflamış ise güçlendirir aşırı aktif hale gelmiş ise hızını düşürerek dengeler.
</p> <p>
Oksijen kanser tedavisinde kullanılan ışın ve ilaç tedavilerinin etkinliğini arttırır. Işınlar ve ilaçlar kanserli hücrelere yüksek oksijenli ortamda daha iyi ulaşır. Bu da tedavinin başarısını arttırır. Bunun yanında ozon tedavisi kanser tedavisi ile birlikte uygulandığında tedavinin yan etkilerini oldukça azaltır. Bunu bir yandan kanser hücrelerinin yaptığı tahribatı giderirken diğer yandan da vücudun kendi dengesini sağlayarak yerine getirmektedir.
</p> <p>
Günümüzde bir çok merkezde bu yönde çalışmalar yapılmaktadır. Elde edilen verilere göre yakın zamanda özellikle kanser tedavisinde ozon yaygın olarak kullanılacağına inanılmaktadır.
</p> <p>

           
        <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  
    </div>
{% endblock %}