{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Ozon Tedavisi Kimlere Uygulanmaz --Mediozon
{%endblock%}
{% block maincontent%}
<div  style="margin: 2rem 2rem">
    <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/ozonwoman.jpg' %}" alt="ozon-etki">
<h3 style="color: blue">Ozon Tedavisi Kimlere Uygulanmaz ? </h3><br>
    <p>
        Ozon tedavisi uygulanmasına engel olan pek bir hastalık ve durum yoktur. Çok az sayıda özel durumda dikkat etmek gerekir.
        <ul>
            <li>Doğumsal Glikoz 6 Posfat Dehidrogenaz enzimi Eksikliği - Favizm Hastalığı</li>
            <li>Myokard enfarktüsünün akut devresi</li>
            <li>Ağır kanamalar</li>
            <li>Sık sık kramp oluşması</li>
            <li>Trombositopeni</li>
            <li>Sık tekrarlayan pankreatit</li>
            <li>Ozon Alerjisi</li>
        </ul>
    </p>
    <div style="height: 280px">

    </div>
</div>

{%endblock%}