{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Ozon Nedir? --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/ozon-nedir.jpg' %}" alt="ozon-nedir">
        <h3 style="color: blue">Ozon Nedir?</h3><br>
        <p>
                Ozon kimyasal olarak kısaca O3 olarak adlandırılan elementtir. Oksijen herkes tarafından çok iyi tanınan ve bilinen yaşamın vazgeçilmez bir maddesidir. Hayatımızı sürdürmemizi sağlayan hava diye adlandırdığımız şey de aslında oksijendir. Oksijen 2 atomdan oluşurken Ozon 3 atomdan oluşur. Oksijen yüksek enerjili bir ortamda bulunduğunda iki atomu birbirinden ayrılır ve birbirlerinden ayrılan atomlar 3 atomlu bir yapı oluşturduğunda ozon meydana gelir. Başka bir deyişle oksijenin yüksek enerjili haline ozon diyebiliriz.
        </p>
        <p>
                Ozonun kendine has bir kokusu vardır. Özellikle yağmurlu havalarda şimşek çakması denilen atmosferdeki bulutların birbirleri ile çarpışmaları sonucu ortaya çıkan yüksek elektrik boşalımları havadaki oksijenin ozona dönüşmesini sağlar. Bu tür havalarda duyulan koku aslında ozonun kokusudur.
        </p>
        <p>
                Doğada yaygın olarak bilinen haliyle ozon atmosferin bir katmanıdır. Gökyüzünün mavi renginin kaynağıdır. Dünyadaki yaşam için ne denli önemli olduğu son 20 - 30 yıldaki bilimsel araştırmalarla toplum tarafından öğrenilmiştir.
        </p>
        <p>Bilim adamları atmosferdeki ozon tabakasının incelmesinin, hatta delinmesinin dünyanın dengesi değiştirdiğini açıklamışlardır. Ozon dünya ve yaşam için çok önemlidir. Güneş ışınlarının zararlı etkisi ozon tabakası sayesinde filtrelenmektedir.</p>
        <p>Ozon tabakasının incelmesi dünyada yaşayan tüm canlıların sağlığını yakından olumsuz yönde etkilemektedir. Ozon tabakasına zarar veren, doğadaki ozonun yok olmasını sağlayan çeşitli kimyasal bileşenler vardır. Son yıllarda ozon tebakasına zarar veren kimyasal bileşimlerin üretimi ve kullanımına sınırlamalar getirilmiştir.</p>
        <p>Bu sayede dünyamız için yaşamsal önem taşıyan ozon tabakasının zarar görmesi engellenebilecektir.</p>
        <h3 style="color: blue;">Dr. Ruhi Çakır</h3>
  
    </div>
{% endblock %}