{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Ortepedi Hastalıklarında Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/ortepedi.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Ortepedi Hastalıklarında Ozon</h3><br>
        <p>
                Kemik, eklem ve bağ dokularının genelde hastalıkları inflamasyon ve enfeksiyona bağlıdır. Ozonun bu sorunlar üzerine olan yararlı etkisi çeşitli ortopedik hastalıklarda ozondan yararlanmayı mümkün kılmaktadır.
                <ul>
                    <li>Akut ve Kronik Poliartritler</li>
                    <li>Tendinit</li>
                    <li>Epikondilit</li>
                    <li>Myofacial ağrı</li>
                    <li>Karpal Tunnel Sendromu</li>
                    <li>Akut ve Kronik kemik iltihapları</li>
                </ul>
        </p>
        <p>
                Bu hastalıklarda ozon lokal veya sistemik olarak uygulanabilir. Lokal eklem içi veya hasta olan bölge civarına enjeksiyonlar yapılabilir. Bu sayede kısa sürede ağrıda azalma, hareket yeteneğinde artış, bölgesel sıcaklık ve şişlikte azalma ile hastalar rahatlamaktadır.        </p>
        <p>
                Toplumda en sık görülen diz ekleminin Gonartroz denilen sorunudur. Çeşitli düzeyleri olan bu hastalığın en ileri düzeyinde olup eklem protez ameliyatına karar verilmiş hastalarda bile başarı sağlanabilmektedir. Erken devrelerinde ise çok başarılı sonuçlar alınmaktadır. Ozon eklemin bozulmasına yol açan maddelerin salınımını engellerken kıkırdak ve kemik hücrelerini uyarmaktadır. Antioksidanların artışı ve antiinflamatuar etkilerle birleşince eklem sorunlarında iyileşmeye neden olmaktadır.        </p>
        <p>
                Bel fıtığı denilen omurganın disk hernilerinde yıllardır başarı ile ozon tedavisi uygulanmaktadır. Bu konuda özellikle İtalyada Siena Üniversitesi çok çalışma yapmıştır. Fıtıklaşmış olan diskin içine radyoloji kontrolunda yapılan ozon enjeksiyonu dakikalar içinde etkisini göstermektedir. Diğer alternatif tedavi yöntemlerine kıyasla ozon tedavisinin yararlı etkileri çok uzun süreli olmaktadır. Hastaların yaklaşık % 75 inde uzun süreli ve tatmin edici iyileşme sağlanabilmektedir. Ameliyat dışında hiçbir tedavi yöntemi bu oranda uzun süreli başarıya ulaşamamaktadır.
                
        </p>
        <p>
                Romatizmal Hastalıklar ozondan yarar gören bir diğer hastalık grubudur. Antiinflmatuar etki ve sitokinlerin artışı bu hastalarda ağrının azalmasına ve hareket yeteneğinin artışına yol açmaktadır.  
        </p>
        <p>
                Kronik Yorgunluk Sendromu ve Fibromyalji ozon ile başarı ile tedavi edilmektedir. Yorgun uyanmak, hafızada yetmezlik, efor sonrası fazla halsizlik, çeşitli eklem ve kas ağrıları, sık tekrarlayan baş, boğaz ağrısı ve ateş gibi belirtileri bulunan kronik yorgunluk sendromu hastaları ozon tedavisinden büyük yarar sağlamaktadır.
        </p>
           <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}