{% extends 'base.html' %}
{%load static%}


{%block titleName%}
Ozon Terapi --Mediozon
{%endblock%}
{% block maincontent%}
<div style="margin-top: 5rem;" align=center class="row">
    <div style="margin: 2rem 2rem;"  class="col bolum">
        <div  class="sec">
                <a style="text-decoration: none" href="/tedavi-edilen-hastaliklar"><img id="ozonnedir" src="{% static 'pages/images/ozontedavi.jpg' %}" alt="ozon-tedavi"></a>
                <div style="font-size: 2rem">
                        <a style = "text-decoration: none" href="/tedavi-edilen-hastaliklar">Ozon ile Tedavi Edilen Hastalıklar</a>

                </div>
        </div>
       
    </div>
    <div style="margin: 2rem 2rem;"  class="col bolum">
        <div class="sec">
                <a style="text-decoration: none" href="/tedavi-yontemleri"><img id="ozonnedir" src="{% static 'pages/images/ozonyontem.jpg' %}" alt="ozon-etki"></a>
                <div style="font-size: 2rem">
                        <a style = "text-decoration: none" href="/tedavi-yontemleri">Ozonun Tedavi Yöntemleri</a>
                </div>
        </div>
           
    </div>
    <div style="margin: 2rem 2rem;"  class="col bolum">
            <div class="sec">
                <a href="/etki-mekanizmasi" style="text-decoration: none" ><img id="ozonnedir" src="{% static 'pages/images/ozonetki2.jpg' %}" alt="ozon-nedir">
                    
                    <div style="font-size: 2rem">
                        <a style="text-decoration: none" href="/etki-mekanizmasi">Ozonun Etki Mekanizması</a>
                    </div>
            </div>
               
        </div> 
        <div style="margin: 2rem 2rem;"  class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/kimlere-uygulanmaz"><img id="ozonnedir" src="{% static 'pages/images/ozonwoman.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/kimlere-uygulanmaz">Ozon Tedavisi Kimlere Uygulanmaz ?</a>
                        </div>
                </div>
                   
            </div>
</div>
<div style="margin-top: 5rem;" align=center class="row">
            <div style="margin: 2rem 2rem;" class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/tedavi-resim"><img id="ozonnedir" src="{% static 'pages/images/ozonadam.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/tedavi-resim">Ozon Tedavisi Resimleri</a>
                        </div>
                </div>
                   
            </div> 
            
            <div style="margin: 2rem 2rem;"  class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/ozon-sauna"><img id="ozonnedir" src="{% static 'pages/images/sauna.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/ozon-sauna">Ozon Sauna</a>
                        </div>
                </div>
                   
            </div>
            <div style="margin: 2rem 2rem;"  class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/ozonlu-urunler"><img id="ozonnedir" src="{% static 'pages/images/ozonluyag.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/ozonlu-urunler">Ozonlu Ürünler</a>
                        </div>
                </div>
                   
            </div>



</div>


{%endblock%}