{% extends 'base.html' %}

{%load static%}
<link rel="stylesheet" href="{% static 'pages/css/main.css' %}">
{%block titleName%}
Ozon Sauna --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/sauna.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Ozon Sauna</h3><br>
        <p>
            <b>Baş dışında tüm beden uygulamalarına olanak sağlayan bir tedavi ve ayni zamanda çeşitli yararları olan bir uygulamadır. Bu uygulamanın dayandığı 3 ana etken vardır. Isı, nem ve ozon-oksijen gazları.</b>
        </p>
        <p>
            İnsan bedenini kaplayan dış deri aslında üzerinde bir çok gözenekleri olan bir yüzeydir. Bu gözenekler sayesinde vücudumuz nefes alır, bir çok madde alış verişi bu yolla gerçekleştirilir. Bedeni dış ortamın çeşitli zararlı etkilerine karşı korurken diğer yandan iç ortamın dengesini sağlar. Ter aracılığı ile bazı toksinler uzaklaştırılırken ısı ve nem dengeleri de korunur.
        </p>
        <p>
            Ozon sauna uygulamasında tek kişilik bir kabinin içine sadece başı dışarıda kalacak şekilde girilip, oturulur. Oturma ve başın dışarıda kalma yüksekliği ayarlanır. Boyun bölgesine ısı, nem ve gazların dışarıya kaçmasına engel olmak için havlu sarılır. Uygulama yapılacak kişi kabinin içinde tamamen çıplak veya iç çamaşırları ile olmalı ya da mayo giymelidir. Uygulama yapacak olan uzman, kişiye uygun ısı, nem ve ozon-oksijen dozlarını, süreyi ayarlar. Genellikle uygulama süresi 20 ila 30 dakika arasındadır. Seans sonrası kabin dışında beden ısısı normale gelene dek bir süre dinlenilir. Daha sonra da duş yapmadan giysiler giyilir. Duş uygulamadan 1-2 saat sonra alınmalıdır. Çünkü cilde temas eden gazların deriden tam olarak emilmesi ve bedenin normal ısısına dönmesi için bu gereklidir.
        </p>

        <p>
            <b class="baslik">Ozon Saunanın Yararları:</b>
            <ul>
                <li>
                    <b class="maddeler">Detoks Etki:</b>
                    Yaşayan insan bedeni içinde birçok kimyasal reaksiyonlar gelişir ve bazı toksin türünde vücuda zararlı maddeler oluşur. Bu maddeler normalde deriden ter, karaciğerden safra yoluyla barsaklardan ve idrar yoluyla böbreklerden atılır. Ozon saunada ısı ve nem yardımıyla bu maddeleri terle hızlı şekilde vücuttan uzaklaştırılır.
                </li>
                <li>
                    <b class="maddeler">Dolaşımın Hızlanması:</b>
                    Isı ve gazların etkisiyle kan dolaşımı hızlanır. Kalp damar sistemi zararsız bir egzersizden geçirilmiş olur. Artan kan dolaşımı tansiyon üzerine olumlu etkiler yaratırken tüm dokuların daha iyi oksijenlenmesi ve atıkların hızla uzaklaştırılmasına neden olur.
                </li>
                <li>
                    <b class="maddeler">Zayıflama:</b>
                    Artan beden ısısı, dolaşımın hızlanması ve ozon oksijen gazlarının etkisiyle vücutta kalori yakılmasına yol açar. Bir seans ozon sauna 250 ila 500 kcal, harcanmasına neden olur. Yakılan kalori çıkılan ısı ve kişinin beden özelliklerine, yaşına göre değişmektedir.
                </li>

                <li>
                    <b class="maddeler"> Böbrek Fonksiyonlarına Destek:</b>
                    Normalde böbrek yoluyla uzun sürede atılması gereken bir çok toksik madde özellikle ağır metaller terleme yoluyla deriden kolaylıkla atılabilmektedir.
                </li>

                <li>
                    <b class="maddeler">Vücut Direncini Arttırmak:</b>
                    Ozon ve oksijenin cilt yoluyla vücuda girmesi sonucu gelişen birçok biyolojik ve kimyasal reaksiyonlar sonucunda immun sistem modüle ve regüle olmaktadır. Bu sayede özellikle mikrobik kaynaklı bir çok hastalığa karşı direnç gelişmektedir.
                </li>
                <li>
                    <b class="maddeler">Hormon Sistemleri Aktivasyonu:</b>
                    İnsan hayatında önemli rol oynayan çeşitli hormonal sistemler aktive olarak sağlıklı düzeylerde çalışması sağlanır. Zayıf çalışan hormonlar normal düzeylere gelirken insan bedeninin aşırılığa izin vermeyen kontrol sistemi sayesinde zararlı sonuçlar gelişmez.
                </li>
                <li>
                    <b class="maddeler">Yorgunluk Giderilmesi, Zindelik Kazanılması:</b>
                    Özellikle adale dokusunda artan kan dolaşımı sayesinde yorgunluk hissi ve ağrıya neden olan laktik asit gibi maddelerin süratle uzaklaştırılmasını sağlar. Bu sayede seans sonrası kısa bir dinlenmeden sonra çok daha rahatlamış ve zinde halde günlük yaşama devam edilir.
                </li>

                <li>
                    <b class="maddeler">Ağrı Giderici Etki:</b>
                    Ağrıya neden olan temelde dokularda bazı zararlı toksinlerin birikmesi, çeşitli nedenlere bağlı ödemler, dolaşım bozuklukları ve yetersizlikleridir. Isı, nem ve ozon oksijen yardımıyla artan dolaşım, azalan ödem ve toksinlerin ortamdan uzaklaştırılması ağrı hissinin yok olmasını sağlar.
                </li>
                <li>
                    <b class="maddeler">Mikroplardan Arınma:</b>
                    İnsan derisi vücudu dış ortamdan gelebilecek çeşitli mikroplara karşı korur. Fakat bir çok mantar, bakteri deriye nüfuz ederek çeşitli hastalıklara neden olur. Ozon ve oksijenin yardımıyla bu tür zararlı mikro organizmalara öldürülüp etkisiz hale getirilir. Bu sayede temiz, sağlıklı bir cilde sahip olunur.
                </li>
                <li>
                    <b class="maddeler">Yaşlanma Etkilerinin Giderilmesi:</b>
                    Geçen yıllar ve çeşitli etkilerle cildimiz her geçen gün biraz daha yaşlanır. Zararlı ışınlar, toksik maddeler derinin hücrelerinin yaşlanmasına, kurumasına ve buruşmasına neden olur. Uygun nem ve ozon oksijenin yardımıyla deri hücreleri daha sağlıklı hale gelirler. Yeni hücreler gelişir. Üst yüzeyde bulunan ölü ve yaşlı hücreler dökülerek alttan genç, sağlıklı hücrelerin gelmesi sağlanır.
                </li>
                <li>
                    <b class="maddeler">Sellülitleri Giderir ve Oluşumunu Önlenilmesi:</b>
                    Deri ve deri altındaki dokuların oksijenlenmesinin, dolaşımının azalmasının sonucu olarak sellülit oluşur. Hücrelerdeki atık maddelerin uzaklaştırılması, deri altı yağ dokusunun oksijenlenerek dolaşımının artması, yağların yakılması ve dokuların sağlıklı hale amaçlanır. Adeta oksijenle yıkanan dokular çok daha pürüzsüz, temiz ve sağlıklı hale gelir.
                </li>

                <li>
                    <b class="maddeler">Stresi ve Stresin Etkilerini Giderilmesi:</b>
                    Sauna uygulaması esnasında solunum, dolaşım ve kalp damar sistemi çalışması hızlanır. Bu sistemler bir tür egzersiz yapmış olurlar. Aktive olan iç salgı sistemlerinin de etkisiyle strese neden olan hormonal mekanizmalar bu sayede düzene girer. Stres nedeniyle kasılan adale dokuları gevşer. Azalan dolaşım artarak stresin yarattığı rahatsız edici etkiler ortadan kalkar.
                </li>
                <li>
                    <b class="maddeler">Beyin Fonksiyonlarını Geliştirilmesi:</b>
                    Ozon ve oksijen beyin dokusunun daha iyi beslenmesini, oksijenlenmesini sağlayarak zihin çalışmalarını destekleyici etki gösterir.
                </li>
                <li>
                    <b class="maddeler">Ruhsal Şikayetleri Azaltılması:</b>
                    Ozon ve oksijenin salgı sistemlerine olan etkileri ve beyin üzerine yararları nedeniyle uykusuzluk, depresyon gibi şikayetlerin giderilmesinde, ortaya çıkmasının engellenmesinde yararlıdır.
                </li>

            </ul>
            <p>
                <b class="baslik">Ozon Sauna Kimlere Uygulanır ?</b>
                <br><br>
                Aslında ozon sauna yararlı etkilerini elde etmek isteyen herkese uygulanabilir. Herhangi bir hastalığı, sağlık sorunu olmasa da tüm dileyenlere sağlık düzeylerini yükseltmek ve daha zinde olunması amacıyla yararlıdır.
                <br><br>
                Ozon oksijen tedavisinden yarar gören tüm hastalık tedavilerinde ozon sauna normal ozon tedavilerine ek olarak uygulanabilir. Genel olarak bu hastalıklar; Sedef, Akne, Egzama, Liken gibi cilt hastalıkları Ozon Saunadan yarar görürler
                <br><br>
                <b class="maddeler">Ozon Sauna Kimlere Uygulanmaz ?</b>
                <br><br>
                Genel olarak ozon tedavisinin sakıncalı olduğu pek bir özel durum yoktur. Kontrolsuz hipertroidi ve konjenital Favizm konusunda dikkatli olunmalıdır. Bunun dışında yüksek ısının sakıncalı olabileceği nadir kalp hastalarında daha düşük ısı uygulaması yapılması emniyetli olacaktır.
            </p>
        </p>
            
        <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}