{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Şeker Hastalıklarında Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/seker.jpg' %}" alt="ozon-etki">
        
            <h3 style="color: blue">Şeker Hastalıklarında Ozon</h3><br>
            <p>
            Diabetes Mellitusun tedavisinde ozon çok etkilidir. Kan şekeri yani glikoz, ozonun etkisiyle vücut doku ve hücrelerine kolaylıkla girebilmektedir. Bu da şeker hastalarının en önemli sorunu olan kan şekeri düzeyinin düşmesine yol açmaktadır.
            </p> <p>
            Ozon pentoz fosfat siklusunu ve aerobik glikolizi uyararak ederek glukozun hücre zarlarından nüfuz etmesini kolaylaştırır ve bu da dokulara glukoz girişini artırarak hiperglisemiyi azaltır. Glutatyon üretimi artar. Glikoz oksidasyonu ile enerji desteği restore edilir. Dokulardaki enerji eksikliği ortadan kalkar. Lipid peroksidasyonu normale döner. Böylece ozon insulinin birçok işlevini yerine getirmiş olur.
        </p> <p>
            Ozon tedavisi sayesinde şeker hastalarının tedavide gereksinmesi olan ilaç dozları düşmektedir.  Diğer yandan diabetin komplikasyonlarının gelişmesi de engellenmektedir. Dokularda sorbitol birikimi nedeniyle oluşan katarakt, nöropati, mikroanjiopati ile glikozaminoglikan birikmesi sonucu gelişen eklem sorunlarının meydana gelmesi olasılığı çok azalmaktadır.
        </p> <p>
            Diğer yandan immun sistemin uyarılması sonucunda özellikle insüline bağımlı şeker hastalığında pankreasta hücre yıkımı azalmaktadır.
        </p> <p>
            Ozon tedavisi uygulanan hastaların kan şekeri dikkatle izlenmelidir. Çünkü ozon tedavisi sonucunda kullanmaları gereken ilaç dozu çok azalmaktadır. Normal dozda ilaç kullanan hastalar da bu kez kan şekeri aşırı düşmektedir. Ya ilaç dozu düşürülmeli ya da ek olarak şeker almaları gerekmektedir.
        </p> <p>
            Kan şekerinde düzene girme yanında hastaların genel durumunda düzelme, iş gücünde artış ve uykusunun düzene girmesi görülür. Hücresel immunitede artış yanında antioksidan savunma gücünde de artış görülür. Bu da şeker hastalarının korkulu rüyası olan mikrobik hastalıklara yakalanma konusunda başarı sağlamaktadır      
        </p> <p>
            3-6 ayda bir tekrarlanan ozon terapi kürlerinin yapılması önerilir ve hiçbir yan etki gözlenmemiştir.
           </p>
           
        <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}