{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Solunum Hastalıklarında Ozon --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/solunum.jpg' %}" alt="ozon-etki">
        
            <h3 style="color: blue">Solunum Hastalıklarında Ozon</h3><br>
        <p>
            <b>Kronik Bronşit</b> solunum yolu hastalıklarının en sık görülenlerindendir Bu hastalıkta azalmış olan lokal ve genel savunma gücü ozon tedavisiyle güçlenmektedir. T lenfositler ve T helper hücrelerinde artış sonucunda serumda Ig A ve IG M yapısındaki immunglobulinler de yükselir. Dolaşımda immun kompleksler artar ve fagosit nötrofiller aktive olur. Bronşların inflamasyonu azalır. Bunlar solunumun rahatlamasına ve salgı miktarında azalmaya neden olur.
            </p>
        Obstruktif bronşitte ayni zamanda pulmoner hipertansiyon gelişimi de sıktır. Ozonun vazodilatator etkisi bu hastaların rahatlamasına neden olur. Kanın oksijen taşıma kapasitesi artarken diğer yandan hipoksi giderilmektedir.
        <p>
      <b>Bronşiyal astım </b> tedavisinde temel sorunlar enfeksiyonların kontrolu, immun sistem modülasyonu, bronşların obstrüksiyonu, alerjik reaksiyonlar ve oksijen azlığıdır.
        </p>
        <p>
        Ozonun endotel hücrelere etkisi ile düz kasların gevşemesi ile bronş spazmı çözülmektedir. Bu da solunumun rahatlamasına yol açar. Immün sistemin modülasyonu sitokinlerin aktivasyonu ve B lenfositlerin ve T Hepler hücrelerin artışı sayesinde gerçekleşmektedir. Ozonun antibakteriyel ve antiviral etkileri ile de enfeksiyonlar kontrol altına alınabilmektedir.
        </p>
        <p>
        Ozon tedavisi sonucunda bu hastaların boğulma hissi, zor nefes alıp verme şikayetleri süratle düzelmektedir. Diğer yandan normal olarak kullanmak zorunda oldukları ilaçların dozu da azalmaktadır. Bilimsel çalışmalar astımlı hastaların % 65 inde kullanılan ilaç dozları % 50 den fazla azaldığını göstermiştir.
        </p>
           
        <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}