{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Ozonun Etkileri --Mediozon
{%endblock%}
{% block maincontent%}
<div  style="margin: 2rem 2rem">
        <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/tarih.jpg' %}" alt="ozon-nedir">
    <h3 style="color: blue">Ozonun Etkileri</h3><br>
        <img style="float: right; margin: 1rem 2rem;  border-radius: 20%;" src="{% static 'pages/images/save2.jpg' %}" alt="ozon-nedir">

    <p>Ozonun varlığını dünyada ilk kez 1785 yılında Martinus Van Marum (1750 - 1837) bulmuştur. Fakat bulduğunun ozon olduğunu bilememiştir. Elektrik konusunda çalışmalar yapan Marum İngiliz makine yapımcısı John Cuthbertson (1743 - 1821 ) ile birlikte yüksek elektrik akımları konusunda denemeler yapıyorlardı. Bu esnada havada bir koku ve çok açık mavi renkte bir gaz oluştuğunu belirlediler. Bunun elektriğin bir çeşit kokusu olabileceğini düşündüler. Kimyasal olarak
        ozon gazı ancak ilk kez İsviçre'de yaşayan Alman kimyacı Christian Friedrich Schönbein (1799 - 1868) tarafından 1840 yılında kanıtlandı ve ne olduğunu belirlendi. Adını da Grek dilindeki koku, kokmak anlamında ( ozein) ozon olarak tanımladı.
    </p>
    <img style="float: right; margin: 1rem 2rem;  border-radius: 20%;" src="{% static 'pages/images/save3.jpg' %}" alt="ozon-nedir">

    <p>
            1856 yılında ozonun mikrop öldürücü etkisi anlaşılarak hastalara kullanılan aletlerin dezenfeksiyonunda kullanıldı. 1857 yılında Wener Von Siemens ozon üreten jeneratörler üzerine çalışmalar yaptı.
    </p>

    <p>
            1860 yılında ozonun suların mikrobik yönden temizlenmesi yanında istenmeyen koku ve tat özelliklerini gidererek içme suyu elde edilmesinde kullanımı başlandı.
            <br>
            1872 yılında Brodie su içinde çalışan bir ozon jeneratörü üzerine çalışmalar yaptı.
            <br>
            1900 yılında N. Tesla ilk ozon jenaratörünün patentini aldı.
<br>
1902 yılında Dr. H. J. Clarke ozonu anemi, diyabet, grip hastalığının tedavisinde ve morfin zehirlenmesinin tedavisinde kullandı.
<br>
1915 yılında Dr. Albert Wolf 1. Dünya Savaşında gangren ve savaş yaralarını ozonla tedavi etmeyi başardı.
<br>
<img style="float: left; margin: 1rem 2rem; width:10rem; border-radius: 20%;" src="{% static 'pages/images/save5.jpg' %}" alt="ozon-nedir">

1926 yılında Dr. Otto Warbrug kanserin vücuttaki hücrelerin oksijen alımının yetersizliğinde geliştiğini kanıtladı. Bu konudaki çalışmaları ile 1931 ve 1944 Yılında Nobel ödülü aldı.
<br>
1935 yılında Dr. E. Payr cerrahide, Dt. E. A. Fisch diş hekimliğinde ozonu kullandı.
<br>
1937 yılında Dr. P. Auburg cerrahide ozonu rektal uyguladı.
<br>
1957 yılında Dr. J. Hansler medikal ozon jeneratörü patenti aldı.
<br>
1958 yılında Dr. J. Hansler ve Dr. Hans Wolf derideki hastalıklarda ozonu torbalama yöntemi ile uyguladı.
<br>
1968 yılında Dr. Hans Wolf Frankfurt, Almanyada major oto hematerapi yöntemini ortaya koydu.
<br>
1975 yılında Dr. Buckley ve arkadaşları ozon tedavisinde peroksit oluşumu ile sağlanan yüksek oksijenlemenin glutatyon enzim sistemi üzerinden eritrositleri aktive ettiğini ilk kez kanıtladı. Ayni yönde diğer bilimsel çalışmalar 1979 yılında Dr. Freeman ve arkadaşları, 1977 ve 1986 yıllarında Dr. Washüttl ve arkadaşları, 2001 yılında da Dr. Lell ve arkadaşları tarafından da ortaya konuldu.
<br>
<img style="float: left; margin: 1rem 2rem;  border-radius: 20%;" src="{% static 'pages/images/save4.jpg' %}" alt="ozon-nedir">

1976 yılında Dt. R. Türk diş hekimliğinde ozonlu su ile hastalarını tedavi etti.
<br>
1977 yılında Dr. Renate Viebahn ozonun vücuttaki etkilerini fizyolojik olarak açıkladı. Ayni yıl Dr. O. Ratikansky cerrahide ozonla başarılı sonuçlar aldı.
<br>
1979 yılında Dr. George Freibott ilk kez AİDS hastasını ozonla tedavi etti.
<br>
1980 yılında Dr. Horst Kief ozonla AIDS hastasını tedavi etmeyi başardı.
<br>
1981 yılında Dr. H. Werkmeister düşük ozon dozlarının yara iyileştirmesini sağladığını gösterdi.
<br>
1981 yılında Dr. Ziad Fahmy intraarticular (eklem içi) ozon tedavisiyle hastalarını tedavi etti.
<br>
1987 yılında Dr. H. G. Knoch cerrahi kolit hastalarını rektal uygulama ile tedavi etti.
<br>
1989 yılında Dr. E. Riva Sanseverino omurgada ozon tedavisi uyguladı.
<br>
1990 yılında Dr. Bocci ozonun immun sistemi nasıl güçlendirdiğini bilimsel olarak kanıtladı.
<br>
1991 yılında H. Kirchner diş hekimliğinde kanal tedavilerinde ozonu başarıyla uyguladı.
<br>
1998 yılında Dr. Bocci ve Dr. Leon, 1999 yılında da Dr. Peralta farmokolojik olarak ozonun serbest radikallere karşı antioksidan sistemleri nasıl aktive ettiğini bilimsel olarak gösterdiler.
<br>
1999 yılında Dr. Schulz ve arkadaşları hayvan deneylerinde önce ozon verdikleri canlıların daha sonra septik peritonit olduklarında yaşamlarını sürdürebildiklerini ayrıca tedavide gereken antibiyotiklerin düşük dozunun yeterli olduğunu bilimsel olarak kanıtladılar.
<br>
2001 yılında Dr. Lell ve arkadaşları ozon verilmiş hayvanların daha sonra sıtma etkeni ile hastalandıklarında etkenin kan hücrelerinde büyüyüp üreyemediğini gösterdi.
<br>


    </p>
    <h3 style="color: blue">Dr. Ruhi Çakır</h3>
    {%%endblock}