{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Ozon Tedavi Yöntemleri --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/ozonyontem.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Ozon Tedavi Yöntemleri</h3><br>
            <p>
            Ozon bir gazdır. Tedavi amaçlı kullanılacak ozon gazı Medikal Ozon Jeneratörlerinde saf oksijenden üretilir. Üretilen ozon tedavide daima oksijen ile karışım halinde kullanılır. Tek başına saf ozon kullanılmaz. Tedavide kullanılacak bu karışımda oksijen / ozon oranı % 99,5 ila % 95 arasında değişir. Diğer bir deyişle karşımın ozon oranı % 0,05 ila % 5 arasındadır.
            </p>
            <p>
            Tüm ilaç tedavilerinde olduğu gibi ozon tedavisinde de hastalığın ve hastanın durumuna, özelliğine göre kullanılacak ozon miktarı, karışım oranı, tedavi yöntemi doktor tarafından belirlenir.
            </p>
            <p>
                Günümüzde kabul edilmiş ve uygulanan ozon tedavi yöntemleri şunlardır:

                <ol>
                    <li> <b class="baslik">Hasta kanının ozonlanarak hastaya geri verilmesi</b>
                    <ul>
                        <li>
                            <b class="maddeler">Major oto Hematerapi:</b>
                            Hastanın damarından 50 ila 150 ml (gereğinde 250 ml ye çıkabilir) kadar kanı özel kan setine alınır. Bu set içinde kan ozonlanır ve ayni kan kapalı devreden tekrar hastaya geri verilir. İşlem süresi yaklaşık alınacak kan miktarına göre 5 ile 20 dakika arasında değişir. 
                        </li>
                        <li>
                            <b class="maddeler">Minor oto Hematerapi: </b>
                            Hastanın damarından 3 ila 5 ml kanı enjektöre alınır. Enjektör içinde ozonlanan hastanın kendi kanı adale enjeksiyonu olarak geri verilir. İşlem süresi 3-5 dakika kadar sürer. 
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <b class="baslik">Torbalama, Poşetleme(Bagging):</b>
                    Ayak, kol gibi uzuvlar özel bir poşet torbanın içine geçirilerek ağzı kapatılır. Torbanın içine ozon verilir. Yaklaşık 20 dakika süren işlem sonrasında torbanın içinde kalan ozon geri alınır, poşet çıkarılır. 
Torba yöntemine ek olarak torba içine su veya maden suyu konularak ozon suyun içinden geçirilmek süretiyle uygulanan bir yöntem de bulunmaktadır. Örneğin hastanın ayağı bir plastik poşet gibi torbanın içine yerleştirilir ve torbanın yaklaşıl 2/3 üne de su veya maden suyu doldurulur. Torbanın üst ağzı özel bandaj ile kapatılıp alttan ozon torbanın içine verilirken üstteki delikten de geri alınır. Bu yöntem tedavide oldukça etkili olabilmektedir. 
                </li>
                <li>
                    <b class="baslik">Kupalama(Cabbing): </b>
                    Hastanın torbalama yöntemine uygun olmayan gövde, baş gibi beden bölgelerine uygulanır. Genel olarak yarım küreye benzer kabın açık yüzeyi tedavi edilecek beden bölgesine kapatılır. Kabın diğer tarafında bulunan iki delikten birisinden içeriye ozon verilirken diğer delikten geri emme işlemi yapılır. Tedavinin özelliğine göre işlem 1o ila 20 dakika sürer.
                </li>
                <li>
                    <b class="baslik">Ozon Havası Verme (Üfleme - Insufflasyon) :</b>
                    Ozon jenaratöründen ozon gazı özel set ve hortumlar aracılığı ile hastanın belirli beden bölgelerine verilir.
                    <ul>
                        <li>
                            <b class="maddeler">Rektal:</b>
                            Hastanın makat bölgesinden içeriye yaş ve durumuna göre 50 ila 300 ml kadar ozonlu hava verilir. Dozun miktarına göre verilecek olan ozon ayni seansta 1, 2 veya 3 uygulamada verilerek hastanın hiçbir şekilde rahatsızlık duymaması sağlanır. Uygulanan hastalar bu uygulamadan herhangi bir rahatsızlık hissetmedikleri gibi gazın verildiğini bile fark edememektedir. Verilen ozon 1-2 saniyede barsaklardan emilerek kana karıştığı için hiçbir sıkıntı olmamaktadır. İşlem 1 dakika kadar sürmektedir. Yararlığı ve etkinliği kan ozonlanmasına yakındır.
                        </li>
                        <li>
                            <b class="maddeler">Vajinal:</b>
                            Bayan hastaların kadın doğum ve gebelik sorunlarında özel setler aracılığı ile ozon vajen bölgesine verilir. İşlem süresi 1-2 dakikadır. Rektal uygulamaya benzer yararlanım sağlanır.
                        </li>
                        <li>
                            <b class="maddeler">Aericular:</b>
                            İç ve orta kulağın çeşitli hastalıklarında ozon doğrudan kulağa verilir. Temas ile ozon kana geçer. Hasta olan bölgeye direk uygulama tedavide büyük yarar sağlar. İşlem süresi 1-2 dakikadır.


                        </li>
                    </ul>
                </li>
                <li>
                    <b class="baslik">Ozon Enjeksiyonu:</b> 
                    Ozon enjektör ile tedavi edilecek bölgeye verilir. Eklem içi, omurlar arası gibi tedavi edilmek istenen bölgeye doğrudan ozon enjeksiyonu yapılmasıdır. Ayrıca doku ve adalelerin belirli bölgelerine ağrı tedavisi gibi çeşitli amaçlı ozon enjeksiyonları yapılmaktadır. İşlem süresi 1-2 dakikadır.
                </li>
                <li>
                    <b class="baslik">Ozonlu Su:</b>
                    Diş hekimliği uygulamaları ve cilt yaralarının tedavisi gibi çeşitli amaçlarla ozonlu su kullanılmaktadır. Özel cihazlar yardımıyla üretilen ozonlu su mide ülserlerinin tedavisi gibi tedavilerde içilebilmektedir.
                    <br>
                    Rus ekolünde ozonlu serum uygulaması önemli yer tutmaktadır. Bu amaçla bidistile su veya % 0.9 luk Sodyum Klörür çözeltileri kullanılmaktadır. Ozonlanmış serum damar yoluyla veya çeşitli şekillerde yıkama şeklinde uygulanır.
                </li>
                <li>
                    <b class="baslik">Ozonlu Yağ: </b>
                    Özel yöntemlerle ozonlanmış yağın içinde ozon çok uzun süre korunabilmektedir. Suyun içindeki ozonun dayanıklılık süresi 1 saatten az olmasına karşın yağın içinde ozon 1 yıldan uzun süre korunabilmektedir. Saf zeytinyağı, kayısı yağı, sedir yağı gibi çeşitli yağlar ozonlanabilir. Ozonlu yağ tedavi edilecek bölgeye doğrudan uygulandığı gibi içilmek yoluyla da kullanılmaktadır.
                </li>
                <li>
                    <b class="baslik">Nazal İnhalasyon: </b>
                    Özel setler aracılığı ile ozonlu yağın buruna püskürtülmesi yöntemidir. Ozonlu yağ ozonol halinde burun içi dokulardan rahatlıkla ve sorunsuz şekilde emilebilmektedir. Bölgesel sorunların tedavisinde yararlı bir yöntemdir.
                </li>
                <li>
                    <b class="baslik">Ozon Sauna: </b>
                    Tek kişilik kullanım için yapılmış özel saunalardır. Hastanın başı dışında tüm bedeni içinde kalacak şekilde kapaklı küçük bir odacıktır. Sıcak buhar ile birlikte ozon verilir. Deri ile temas eden ozon ciltteki gözeneklerden emilir. Bu amaçla kullanılacak ozon saf oksijenden elde edilebileceği gibi soluduğumuz ortam havasından da elde edilerek ozon hava karışımı olarak da uygulanabilir. Yaklaşık 15 - 20 dakika süren bir tedavidir. Bu tedavi hastaya yaklaşık 400 - 500 kcal enerji kaybettirir. Bu nedenle uygulama sonrası bir süre dinlenme gereksinmesi doğabilir. Tedaviden sonra duş alınması önerilmez. Kurulanıp, günlük giysiler giyildikten sonra normal yaşantıya devam edilebilir. 

                </li>
                </ol>

                <p>
                        Günümüzde yukarıda anlatılan ozon tedavi yöntemleri uygulanan ve yararlı olan yöntemlerdir. Eskiden ozonun hastaya doğrudan damar yoluyla verilme yöntemi de uygulanmıştır. Fakat bu yöntemin akciğer ve beyin gibi dokularda hava embolisi denilen damar tıkanmalarına yol açma olasılığı nedeniyle uygulanması önerilmemektedir. 
                </p>
                <p style="color: red;">
                        Ozonlu serum uygulaması serumun içindeki maddeler ile ozonun reaksiyona girmesi sonucunda istenmeyen yan etkilere karşı dikkatli olmayı gerektirir. O nedenle saf suyun ozonlanarak kullanımı serumun ozonlanmasından daha güvenilir bir yöntem olarak karşımıza çıkmaktadır.
                </p>
                <p>
                        Ozon tedavisi yöntemlerinin hepsi hastaya ozonu güvenilir ve zararsız bir şekilde vermeye yöneliktir. Tedaviyi uygulayan doktor bilgileri ve deneyimleri ile hastası için uygun ve gerekli olan uygulamayı seçmelidir.
                </p>
            
            
            
            
        <h3 style="color:blue">Dr. Ruhi Çakır</h3>
  
    </div>
{% endblock %}