{% extends 'base.html' %}

{%load static%}
{%block titleName%}
Ozonlu Ürünler --Mediozon
{%endblock%}
{% block maincontent%}
    <div  style="margin: 2rem 2rem">
            <img style="float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/suwoman.jpg' %}" alt="ozon-etki">
        <h3 style="color: blue">Ozonlu Ürünler</h3><br>
        <p>
            Ozon tedavisinin bir parçası olarak iki genel grup ozonlu ürün bulunmaktadır.
        </p>

        <p>
            <b class="baslik">Ozonlu Yağ</b>
            <p>
                Yağ ozonlandığı takdirde kimyasal olarak değişime uğramaktadır. Bu değişim sonucunda yağ hem içinde çok yüksek oranda ozonu tutabilmektedir hem de ozon yağın içinde çok uzun süre kalmaktadır. Buzdolabında saklanan ozonlu yağ etkinliğini iki yıl sürdürebilmektedir. 1 gram yağ 160 mg ozonu bağlayabilmektedir.

            </p><p>
Ciltteki yaraları ve diğer cilt sorunlarda lokal olarak kullanılabilen ozonlu yağ ayni zamanda içilmek yoluyla da sistemik etki sağlayabilmektedir.
</p><p>
        <img style="width: 30%; float: right; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/ozonluyag.jpg' %}" alt="ozon-etki">
        Yağ ozonlandığında içerdiği ozona bağlı olarak akışkanlığı gittikçe azalmaktadır. Gittikçe koyulaşan yağ önce krem halini almakta, daha da yüksek dozda ozonlandığında katılaşmaktadır. Bu yönüyle krem gibi kullanılmasının yanında katılaştığında da fitil gibi kullanılabilmektedir.
</p><p>

Bu amaçla özellikle saf bitkisel yağlar kullanılmaktadır. Zeytin yağı, sedir ağacı yağı, kayısı yağı gibi saf yağlar bunun için uygun olmaktadır.
    <br><b class="baslik">Saf ozon yağını <a href="www.ozonmarketi.com" target="_blank">ozonmarketi</a>'nden satın alabilirsiniz.</b>

            </p>
        </p>
        <p>
                <img style="width: 20%; float: left; margin: 1rem 2rem; border-radius: 20%;" src="{% static 'pages/images/glass.jpg' %}" alt="ozon-etki">

            <b class="baslik">Ozonlu Su</b>
            <p>
                    Suyun ozonlanması değişik oranlarda yapılmaktadır. Bu konuda yegane sorun ozonlanmış suyun içindeki ozon pek dayanıklı değildir. Kısa sürede içinde bulunduğu suyu terk ederek oksijen halinde havaya karışır.
            </p>

            <p>
                    Ozonlu su kesinlikle cam şişede bulunmalıdır. Ağzınında ozona dayanıklı silikon ya da PVC gibi bir tıpa ile kapatılmış olması gerekir. Bu şekilde şişede bulunan ozon +5 derecede 110 saat, + 20 derecede ise 9 saatte yarı yarıya azalmaktadır. Bu süreler bidistile edilmiş su için olup yeterince damıtılmamış suyun içinde daha da kısa olmaktadır.
            </p>
        </p>
            
        <h3 style="color: blue">Dr. Ruhi Çakır</h3>
  ,
    </div>
{% endblock %}