{% extends 'base.html' %}
{%load static%}


{%block titleName%}
Uygulama --Mediozon
{%endblock%}
{% block maincontent%}
<div style="margin-top: 5rem;" align=center class="row">
    <div style="margin: 2rem 2rem;"  class="col bolum">
        <div  class="sec">
                <a style="text-decoration: none" href="/dahiliye"><img id="ozonnedir" src="{% static 'pages/images/dahiliye.jpg' %}" alt="ozon-tedavi"></a>
                <div style="font-size: 2rem">
                        <a style = "text-decoration: none" href="/dahiliye">Dahiliye Hastalıklarında Ozon</a>

                </div>
        </div>
       
    </div>
    <div style="margin: 2rem 2rem;"  class="col bolum">
        <div class="sec">
                <a style="text-decoration: none" href="/cerrahi"><img id="ozonnedir" src="{% static 'pages/images/cerrahi.jpg' %}" alt="ozon-etki"></a>
                <div style="font-size: 2rem">
                        <a style = "text-decoration: none" href="/cerrrahi">Cerrahi Hastalıklarda Ozon</a>
                </div>
        </div>
           
    </div>
    <div style="margin: 2rem 2rem;"  class="col bolum">
            <div class="sec">
                <a href="/ortepedi" style="text-decoration: none" ><img id="ozonnedir" src="{% static 'pages/images/ortepedi.jpg' %}" alt="ozon-nedir">
                    
                    <div style="font-size: 2rem">
                        <a style="text-decoration: none" href="/ortepedi">Ortepedi Hastalıklarında Ozon</a>
                    </div>
            </div>
               
        </div> 
        <div style="margin: 2rem 2rem;"  class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/kadin-dogum"><img id="ozonnedir" src="{% static 'pages/images/kadin2.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/kadin-dogum">Kadın Doğum Hastalıklarında Ozon</a>
                        </div>
                </div>
                   
            </div>
</div>
<div style="margin-top: 5rem;" align=center class="row">
            <div style="margin: 2rem 2rem;" class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/enfeksiyon"><img id="ozonnedir" src="{% static 'pages/images/mediozon.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/enfeksiyon">Enfeksiyon Hastalıklarında Ozon</a>
                        </div>
                </div>
                   
            </div> 
            
            <div style="margin: 2rem 2rem;"  class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/cilt"><img id="ozonnedir" src="{% static 'pages/images/cilt.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/cilt">Cilt Hastalıklarında Ozon</a>
                        </div>
                </div>
                   
            </div>
            <div style="margin: 2rem 2rem;"  class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/solunum"><img id="ozonnedir" src="{% static 'pages/images/solunum.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/solunum">Solunum Hastalıklarında Ozon</a>
                        </div>
                </div>
                   
            </div>
            


</div>
<div style="margin-top: 5rem;" align=center class="row">
        <div style="margin: 2rem 2rem;"  class="col bolum">
                <div class="sec">
                    <a style="text-decoration: none" href="/seker"><img id="ozonnedir" src="{% static 'pages/images/seker.jpg' %}" alt="ozon-nedir"></a>
                        <div style="font-size: 2rem">
                            <a style = "text-decoration: none" href="/seker">Şeker Hastalıklarında Ozon</a>
                        </div>
                </div>
                   
            </div>
            <div style="margin: 2rem 2rem;"  class="col bolum">
                    <div class="sec">
                        <a style="text-decoration: none" href="/kanser"><img id="ozonnedir" src="{% static 'pages/images/kanser.jpg' %}" alt="ozon-nedir"></a>
                            <div style="font-size: 2rem">
                                <a style = "text-decoration: none" href="/kanser">Kanser Tedavisinde Ozon</a>
                            </div>
                    </div>
                       
                </div>
                <div style="margin: 2rem 2rem;"  class="col bolum">
                        <div class="sec">
                            <a style="text-decoration: none" href="/hepatit"><img id="ozonnedir" src="{% static 'pages/images/hepatit.jpg' %}" alt="ozon-nedir"></a>
                                <div style="font-size: 2rem">
                                    <a style = "text-decoration: none" href="/hepatit">Hepatitlilerin Tedavisinde Ozon</a>
                                </div>
                        </div>
                           
                    </div>

</div>


{%endblock%}